n8n/workflows/IGOR_05_Finalize_Handoff.json
{
  "updatedAt": "2026-05-15T13:22:13.373Z",
  "createdAt": "2026-05-15T04:32:26.579Z",
  "id": "N31QcdrNVE5AOZdu",
  "name": "IGOR_05_Finalize_Handoff",
  "description": "IGOR_05: handoff orquestrado (UPDATE conv + UPDATE leads + IGOR_04 + private note + assign team/assignee + events + Evolution sendText gated por ALLOW_REAL_WHATSAPP_SEND+IGOR_DRY_RUN). Errors -> IGOR_07.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "affec48a-5fef-41f6-b8c0-4cd41c4d967f",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        96
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "chatwoot_conversation_id",
              "type": "string"
            },
            {
              "name": "chatwoot_contact_id",
              "type": "string"
            },
            {
              "name": "lead_id",
              "type": "string"
            },
            {
              "name": "handoff_reason",
              "type": "string"
            },
            {
              "name": "summary",
              "type": "string"
            },
            {
              "name": "callback_period",
              "type": "string"
            },
            {
              "name": "owner_flow",
              "type": "string"
            },
            {
              "name": "test_run_id",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "11111111-2222-3333-4444-555566667777",
      "name": "Load Gates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        112,
        96
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE((SELECT (value)::text::boolean FROM public.settings WHERE key='dry_run_send'), true) AS dry_run_send, COALESCE((SELECT (value)::text::boolean FROM public.settings WHERE key='allow_real_whatsapp_send'), false) AS allow_real_whatsapp_send;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "Z7DeBop4nK4JlIXO",
          "name": "igor_supabase_postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a3963aa8-9c52-4f0f-80c0-452e6ef86507",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        96
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const j = item.json || {};\n  const str = (v) => (v === undefined || v === null || v === '') ? null : String(v);\n  const convId = str(j.chatwoot_conversation_id);\n  if (convId === null) { throw new Error('IGOR_05: chatwoot_conversation_id is required'); }\n  const contactId = str(j.chatwoot_contact_id);\n  const leadId = str(j.lead_id);\n  const handoffReason = str(j.handoff_reason) || 'unspecified';\n  const summary = str(j.summary) || '(sem resumo)';\n  const callbackPeriod = str(j.callback_period);\n  const ownerFlow = str(j.owner_flow) || 'after_hours';\n  const testRunId = str(j.test_run_id);\n  const handoffAt = new Date().toISOString();\n  const allowReal = $('Load Gates').first().json.allow_real_whatsapp_send === true;\n  const dryRun = $('Load Gates').first().json.dry_run_send === true;\n  const shouldSendReal = allowReal && !dryRun;\n  const sendGateReason = shouldSendReal ? 'real_send_authorized' : (allowReal ? 'igor_dry_run=true' : 'allow_real_whatsapp_send=false');\n  const convAttrs = { automation_state: 'human_assigned', lead_status: 'aguardando_atendente', handoff_reason: handoffReason, handoff_at: handoffAt, owner_flow: ownerFlow, ai_enabled: false };\n  if (callbackPeriod !== null) convAttrs.callback_period = callbackPeriod;\n  const summarySnippet = summary.length > 400 ? summary.slice(0, 400) + '…' : summary;\n  const callbackLine = callbackPeriod ? ('Período preferido de retorno: ' + callbackPeriod + '\\n') : '';\n  const privateNoteContent = '📋 *Resumo automático Igor (handoff ' + ownerFlow + ')*\\n\\nMotivo: ' + handoffReason + '\\n' + callbackLine + '\\nResumo da conversa:\\n' + summary + '\\n\\nLead status: aguardando_atendente\\nIA: desligada nesta conversa (ai_enabled=false, human_locked=true)';\n  const finalLeadMessage = 'Combinado! Já anotei tudo aqui e nossa equipe vai retornar no horário que você preferiu. Qualquer coisa nova, é só me responder. 💛';\n  return { json: { chatwoot_conversation_id: convId, chatwoot_contact_id: contactId, lead_id: leadId, handoff_reason: handoffReason, summary: summary, summary_snippet: summarySnippet, callback_period: callbackPeriod, owner_flow: ownerFlow, test_run_id: testRunId, handoff_at: handoffAt, _has_lead: leadId !== null, _should_send_real: shouldSendReal, _send_gate_reason: sendGateReason, _allow_real_whatsapp_send: allowReal, _igor_dry_run: dryRun, private_note_content: privateNoteContent, final_lead_message: finalLeadMessage, igor04_payload_json: JSON.stringify({ chatwoot_conversation_id: convId, chatwoot_contact_id: contactId, labels_to_add: ['handoff_done', 'ai_disabled', 'aguardando_atendente'], labels_to_remove: ['qualificacao_rapida', 'callback_solicitado'], custom_attributes: { conversation: convAttrs, contact: {} }, test_run_id: testRunId }) } };\n});"
      }
    },
    {
      "id": "56009e82-cd7a-4cb7-a152-e50f6f4aef09",
      "name": "UPDATE conversations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        96
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.conversations SET state = 'human_assigned', ai_enabled = false, human_locked = true, assigned_team_id = NULLIF($1, '')::int, updated_at = now() WHERE chatwoot_conversation_id = $2::int RETURNING id, contact_id, chatwoot_conversation_id;",
        "options": {
          "queryReplacement": "={{ ['1', $('Validate Payload').first().json.chatwoot_conversation_id] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "Z7DeBop4nK4JlIXO",
          "name": "igor_supabase_postgres"
        }
      }
    },
    {
      "id": "a89744fc-8f61-4421-97a2-a3b6194ee536",
      "name": "Has lead_id?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        96
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "has-lead-cond",
              "leftValue": "={{ $('Validate Payload').first().json._has_lead }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        }
      }
    },
    {
      "id": "5e7139d5-1393-4c5d-b7d5-adf7c55a20e6",
      "name": "UPDATE leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.leads SET status = 'aguardando_atendente', handoff_at = now(), updated_at = now() WHERE id = $1::uuid RETURNING id, contact_id, conversation_id, status, handoff_at;",
        "options": {
          "queryReplacement": "={{ [$('Validate Payload').first().json.lead_id] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "Z7DeBop4nK4JlIXO",
          "name": "igor_supabase_postgres"
        }
      }
    },
    {
      "id": "35d2c072-f3ce-4572-8a15-ca4b869060b1",
      "name": "Merge Lead Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        96
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "4d68126b-44c1-468d-bf12-8e382b7ce132",
      "name": "No Lead Passthrough",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        192
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "no-lead-flag",
              "name": "lead_updated",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c9b3b3f8-41de-4042-ba68-f34b0b4d8f0c",
      "name": "Call IGOR_04",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1344,
        96
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "AJF7dhGrqJEXMLqz",
          "cachedResultName": "IGOR_04_Tool_Labels_Attributes"
        },
        "mode": "once",
        "workflowInputs": "={{ $('Validate Payload').first().json.igor04_payload_json }}",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "executeOnce": true
    },
    {
      "id": "48661453-2590-4261-b9d3-87e3a46bfd45",
      "name": "POST Private Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        96
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://chat.almaconvert.com.br/api/v1/accounts/2/conversations/{{ $('Validate Payload').first().json.chatwoot_conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $('Validate Payload').first().json.private_note_content, private: true, message_type: 'outgoing', content_type: 'text' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "executeOnce": true
    },
    {
      "id": "b8e365a7-f795-459e-b7c1-c1bcdde9424d",
      "name": "POST Assign Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        96
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://chat.almaconvert.com.br/api/v1/accounts/2/conversations/{{ $('Validate Payload').first().json.chatwoot_conversation_id }}/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ team_id: 1 }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "executeOnce": true
    },
    {
      "id": "658afa7c-8d8a-4e38-b577-0febcccc1e5e",
      "name": "Has Assignee?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2016,
        96
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "has-assignee-cond",
              "leftValue": "=1",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        }
      }
    },
    {
      "id": "ab0d4938-c16f-478f-8b37-5142dd974fe2",
      "name": "POST Assign Assignee",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2240,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://chat.almaconvert.com.br/api/v1/accounts/2/conversations/{{ $('Validate Payload').first().json.chatwoot_conversation_id }}/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ assignee_id: 1 }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "executeOnce": true
    },
    {
      "id": "7a29b8e7-b6ea-4420-90eb-21424b975d6c",
      "name": "Merge Assignee Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2464,
        96
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "2a3df2b5-5e58-474a-b8cc-eb4747d6fa42",
      "name": "No Assignee Passthrough",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        192
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "no-assignee-flag",
              "name": "assignee_set",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "executeOnce": true
    },
    {
      "id": "65a6c6c2-2f72-47a2-b2e0-b3abad5529a9",
      "name": "Log handoff_complete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2688,
        96
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.events (event_type, chatwoot_conversation_id, workflow_name, payload) VALUES ('handoff_complete', $1::int, 'IGOR_05_Finalize_Handoff', $2::jsonb);",
        "options": {
          "queryReplacement": "={{ [$('Validate Payload').first().json.chatwoot_conversation_id, JSON.stringify({ handoff_reason: $('Validate Payload').first().json.handoff_reason, owner_flow: $('Validate Payload').first().json.owner_flow, lead_id: $('Validate Payload').first().json.lead_id, callback_period: $('Validate Payload').first().json.callback_period, summary_snippet: $('Validate Payload').first().json.summary_snippet, handoff_at: $('Validate Payload').first().json.handoff_at, test_run_id: $('Validate Payload').first().json.test_run_id })] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "Z7DeBop4nK4JlIXO",
          "name": "igor_supabase_postgres"
        }
      },
      "executeOnce": true
    },
    {
      "id": "8bf61b1a-7920-4f4c-9bc5-0e6a1e3af13f",
      "name": "Get Lead Phone",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2912,
        96
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.phone AS phone, conv.id AS conversation_pk FROM public.conversations conv JOIN public.contacts c ON c.id = conv.contact_id WHERE conv.chatwoot_conversation_id = $1::int LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$('Validate Payload').first().json.chatwoot_conversation_id] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "Z7DeBop4nK4JlIXO",
          "name": "igor_supabase_postgres"
        }
      },
      "executeOnce": true
    },
    {
      "id": "08e4bb70-fad1-44c7-8745-fbfae7a203a5",
      "name": "Should Send Real?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3136,
        96
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "should-send-real-cond",
              "leftValue": "={{ $('Validate Payload').first().json._should_send_real }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        }
      }
    },
    {
      "id": "17a7f9a9-21eb-462b-8f8b-fe2fc9461efa",
      "name": "Evolution sendText",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3360,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://evo.almaconvert.com.br/message/sendText/convert-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.phone, text: $('Validate Payload').first().json.final_lead_message }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json"
            }
          },
          "timeout": 20000
        }
      },
      "executeOnce": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "DDhbwLsNclqTA18X",
          "name": "igor_evolution_api"
        }
      }
    },
    {
      "id": "f9dc9a99-dd40-4fa5-97e8-cd14a418df9f",
      "name": "Log whatsapp_sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3584,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.events (event_type, phone, chatwoot_conversation_id, workflow_name, payload) VALUES ('whatsapp_sent', $1, $2::int, 'IGOR_05_Finalize_Handoff', $3::jsonb);",
        "options": {
          "queryReplacement": "={{ [$('Get Lead Phone').first().json.phone, $('Validate Payload').first().json.chatwoot_conversation_id, JSON.stringify({ text: $('Validate Payload').first().json.final_lead_message, handoff_reason: $('Validate Payload').first().json.handoff_reason, owner_flow: $('Validate Payload').first().json.owner_flow, chatwoot_conversation_id: $('Validate Payload').first().json.chatwoot_conversation_id, allow_real: $('Validate Payload').first().json._allow_real_whatsapp_send, dry_run: $('Validate Payload').first().json._igor_dry_run, test_run_id: $('Validate Payload').first().json.test_run_id })] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "Z7DeBop4nK4JlIXO",
          "name": "igor_supabase_postgres"
        }
      },
      "executeOnce": true
    },
    {
      "id": "4ccadf76-2990-43f9-ac60-a285c79b8e02",
      "name": "Real Send Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3808,
        0
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "send-mode-real",
              "name": "send_mode",
              "value": "real",
              "type": "string"
            },
            {
              "id": "message-sent-real",
              "name": "message_sent",
              "value": "real",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "executeOnce": true
    },
    {
      "id": "a858668d-0417-4fc1-81a4-9da93457abbb",
      "name": "Merge Send Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4032,
        96
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "18f17bf3-d9aa-4d1f-92c1-75d7a584ec2d",
      "name": "Log dry_run_send",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3584,
        192
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.events (event_type, phone, chatwoot_conversation_id, workflow_name, payload) VALUES ('dry_run_send', $1, $2::int, 'IGOR_05_Finalize_Handoff', $3::jsonb);",
        "options": {
          "queryReplacement": "={{ [$('Get Lead Phone').first().json.phone, $('Validate Payload').first().json.chatwoot_conversation_id, JSON.stringify({ text: $('Validate Payload').first().json.final_lead_message, reason: $('Validate Payload').first().json._send_gate_reason, handoff_reason: $('Validate Payload').first().json.handoff_reason, owner_flow: $('Validate Payload').first().json.owner_flow, chatwoot_conversation_id: $('Validate Payload').first().json.chatwoot_conversation_id, allow_real: $('Validate Payload').first().json._allow_real_whatsapp_send, dry_run: $('Validate Payload').first().json._igor_dry_run, test_run_id: $('Validate Payload').first().json.test_run_id })] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "Z7DeBop4nK4JlIXO",
          "name": "igor_supabase_postgres"
        }
      },
      "executeOnce": true
    },
    {
      "id": "1f96b0b2-0d93-43f2-843e-8240834e66cd",
      "name": "Dry Send Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3808,
        192
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "send-mode-dry",
              "name": "send_mode",
              "value": "dry_run",
              "type": "string"
            },
            {
              "id": "message-sent-dry",
              "name": "message_sent",
              "value": "dry",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "executeOnce": true
    },
    {
      "id": "7ea0557d-116f-4f4c-bcbe-e172e49addf1",
      "name": "Final Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4256,
        96
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "ok-flag",
              "name": "ok",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "lead-updated",
              "name": "lead_updated",
              "value": "={{ $('Validate Payload').first().json._has_lead }}",
              "type": "boolean"
            },
            {
              "id": "labels-applied",
              "name": "labels_applied",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message-sent",
              "name": "message_sent",
              "value": "={{ $input.all().reduce((acc, x) => x.json && x.json.message_sent ? x.json.message_sent : acc, 'unknown') }}",
              "type": "string"
            },
            {
              "id": "send-mode",
              "name": "send_mode",
              "value": "={{ $input.all().reduce((acc, x) => x.json && x.json.send_mode ? x.json.send_mode : acc, 'unknown') }}",
              "type": "string"
            },
            {
              "id": "handoff-reason-out",
              "name": "handoff_reason",
              "value": "={{ $('Validate Payload').first().json.handoff_reason }}",
              "type": "string"
            },
            {
              "id": "test-run-id-out",
              "name": "test_run_id",
              "value": "={{ $('Validate Payload').first().json.test_run_id }}",
              "type": "string"
            }
          ]
        },
        "options": {},
        "includeOtherFields": false
      },
      "executeOnce": true
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Load Gates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "UPDATE conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE conversations": {
      "main": [
        [
          {
            "node": "Has lead_id?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has lead_id?": {
      "main": [
        [
          {
            "node": "UPDATE leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Lead Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE leads": {
      "main": [
        [
          {
            "node": "Merge Lead Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lead Branches": {
      "main": [
        [
          {
            "node": "Call IGOR_04",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Lead Passthrough": {
      "main": [
        [
          {
            "node": "Merge Lead Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call IGOR_04": {
      "main": [
        [
          {
            "node": "POST Private Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Private Note": {
      "main": [
        [
          {
            "node": "POST Assign Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Assign Team": {
      "main": [
        [
          {
            "node": "Has Assignee?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Assignee?": {
      "main": [
        [
          {
            "node": "POST Assign Assignee",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Assignee Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Assign Assignee": {
      "main": [
        [
          {
            "node": "Merge Assignee Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Assignee Branches": {
      "main": [
        [
          {
            "node": "Log handoff_complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Assignee Passthrough": {
      "main": [
        [
          {
            "node": "Merge Assignee Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Log handoff_complete": {
      "main": [
        [
          {
            "node": "Get Lead Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Phone": {
      "main": [
        [
          {
            "node": "Should Send Real?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Real?": {
      "main": [
        [
          {
            "node": "Evolution sendText",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log dry_run_send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution sendText": {
      "main": [
        [
          {
            "node": "Log whatsapp_sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log whatsapp_sent": {
      "main": [
        [
          {
            "node": "Real Send Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Real Send Output": {
      "main": [
        [
          {
            "node": "Merge Send Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Send Branches": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log dry_run_send": {
      "main": [
        [
          {
            "node": "Dry Send Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dry Send Output": {
      "main": [
        [
          {
            "node": "Merge Send Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Load Gates": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "errorWorkflow": "ZrsbaSTlW5bqMEaS",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": {},
  "versionId": "46feedb0-a63a-44e7-b6fd-04d147fd2088",
  "activeVersionId": null,
  "versionCounter": 7,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T04:32:26.579Z",
      "createdAt": "2026-05-15T04:32:26.579Z",
      "role": "workflow:owner",
      "workflowId": "N31QcdrNVE5AOZdu",
      "projectId": "fs6cR9FbpYN5UqeV",
      "project": {
        "updatedAt": "2026-05-13T17:58:36.522Z",
        "createdAt": "2026-05-13T17:55:45.649Z",
        "id": "fs6cR9FbpYN5UqeV",
        "name": "Mateus Ferreira <alma.lancamentos@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a87c56dc-b486-4ae8-8d42-3490e7d3610d"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-15T03:51:59.510Z",
      "createdAt": "2026-05-15T03:51:59.510Z",
      "id": "PPrCQax3p4URUSyB",
      "name": "igor"
    },
    {
      "updatedAt": "2026-05-15T03:52:00.389Z",
      "createdAt": "2026-05-15T03:52:00.389Z",
      "id": "Taa30aYgiV2CoA35",
      "name": "inbound"
    },
    {
      "updatedAt": "2026-05-15T03:52:01.867Z",
      "createdAt": "2026-05-15T03:52:01.867Z",
      "id": "8MAvA3vn5AWx51Rw",
      "name": "fase-b-rebuild"
    },
    {
      "updatedAt": "2026-05-15T04:33:17.634Z",
      "createdAt": "2026-05-15T04:33:17.634Z",
      "id": "NoAzWB8DtFpeCyRB",
      "name": "handoff"
    }
  ],
  "activeVersion": null
}