n8n/workflows/IGOR_06_Chatwoot_Message_Logger.json
{
    "updatedAt": "2026-05-15T04:38:04.522Z",
    "createdAt": "2026-05-15T04:36:48.566Z",
    "id": "xpXRENR7Hoo2W5p3",
    "name": "IGOR_06_Chatwoot_Message_Logger",
    "description": "IGOR_06: webhook Chatwoot. INSERT messages espelhamento, IF human takeover -> UPDATE conv + CALL IGOR_04 (atendimento_humano) + events. Filter event=message_created. Errors -> IGOR_07.",
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "id": "e5e2b4e4-360a-485f-8740-004bb5599418",
            "name": "Chatwoot Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                480
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "igor/chatwoot",
                "responseMode": "lastNode",
                "responseData": "firstEntryJson",
                "options": {
                    "rawBody": false,
                    "responseCode": {
                        "values": {
                            "responseCode": 200
                        }
                    }
                }
            },
            "webhookId": "f8becf2d-cee2-4081-914c-aa91249da6e7"
        },
        {
            "id": "a484f275-2455-4926-9dc0-326b47fdbe1a",
            "name": "IF event=message_created",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                224,
                480
            ],
            "parameters": {
                "conditions": {
                    "combinator": "and",
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "evt-cond",
                            "leftValue": "={{ $json.body && $json.body.event }}",
                            "rightValue": "message_created",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ]
                },
                "options": {}
            }
        },
        {
            "id": "c1633712-ff27-4095-9b43-da075bafb2b3",
            "name": "Normalize Chatwoot Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                448,
                288
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "language": "javaScript",
                "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const root = item.json || {};\n  const b = root.body || root;\n  const account = b.account || {};\n  const conversation = b.conversation || {};\n  const sender = b.sender || {};\n  const contactInbox = conversation.contact_inbox || {};\n  const additional = b.additional_attributes || {};\n  const additionalConv = (conversation.additional_attributes || {});\n  const accountId = (account.id !== undefined && account.id !== null) ? String(account.id) : '';\n  const conversationId = (conversation.id !== undefined && conversation.id !== null) ? String(conversation.id) : '';\n  const contactId = (contactInbox.contact_id !== undefined && contactInbox.contact_id !== null) ? String(contactInbox.contact_id) : ((sender.type === 'contact' && sender.id !== undefined && sender.id !== null) ? String(sender.id) : '');\n  const messageId = (b.id !== undefined && b.id !== null) ? String(b.id) : '';\n  const messageType = (b.message_type === undefined || b.message_type === null) ? '' : String(b.message_type);\n  const senderType = (sender.type === undefined || sender.type === null) ? '' : String(sender.type);\n  const senderId = (sender.id !== undefined && sender.id !== null) ? String(sender.id) : '';\n  const senderName = (sender.name === undefined || sender.name === null) ? '' : String(sender.name);\n  const content = (b.content === undefined || b.content === null) ? '' : String(b.content);\n  const contentAttributes = b.content_attributes || {};\n  const createdAt = b.created_at || new Date().toISOString();\n  const testRunId = additional.test_run_id || additionalConv.test_run_id || null;\n  let direction;\n  if (messageType === 'incoming') direction = 'inbound';\n  else if (messageType === 'outgoing') direction = 'outbound';\n  else direction = 'internal';\n  let role;\n  if (senderType === 'contact') role = 'user';\n  else if (senderType === 'user') role = 'agent';\n  else if (senderType === 'agent_bot') role = 'assistant';\n  else role = 'system';\n  const fromMe = (messageType === 'outgoing');\n  let branch;\n  if (messageType === 'outgoing' && senderType === 'user') branch = 'human_takeover';\n  else if (messageType === 'outgoing' && senderType === 'agent_bot') branch = 'bot_noop';\n  else if (messageType === 'incoming' && senderType === 'contact') branch = 'inbound_noop';\n  else branch = 'unhandled';\n  return {\n    json: {\n      account_id: accountId,\n      chatwoot_conversation_id: conversationId,\n      chatwoot_contact_id: contactId,\n      msg_id: messageId,\n      message_type: messageType,\n      sender_type: senderType,\n      sender_id: senderId,\n      sender_name: senderName,\n      content: content,\n      content_attributes_json: JSON.stringify(contentAttributes),\n      created_at: createdAt,\n      direction: direction,\n      role: role,\n      from_me: fromMe,\n      _branch: branch,\n      test_run_id: testRunId,\n    },\n  };\n});"
            }
        },
        {
            "id": "5c7e5c55-24c3-4eb2-bc0b-e362bbe0e411",
            "name": "UPSERT Messages",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                672,
                288
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.messages (\n  conversation_id, msg_id, text, normalized_text, message_type, direction, role, from_me, created_at\n)\nSELECT\n  c.id,\n  NULLIF($1::text, ''),\n  $2::text,\n  NULL,\n  COALESCE(NULLIF($3::text, ''), 'text'),\n  $4::text,\n  $5::text,\n  $6::boolean,\n  COALESCE(NULLIF($7::text, '')::timestamptz, now())\nFROM public.conversations c\nWHERE c.chatwoot_conversation_id = NULLIF($8::text, '')::int\nON CONFLICT (msg_id) WHERE msg_id IS NOT NULL DO UPDATE\nSET\n  text = EXCLUDED.text,\n  direction = EXCLUDED.direction,\n  role = EXCLUDED.role,\n  from_me = EXCLUDED.from_me;",
                "options": {
                    "queryReplacement": "={{ (function(){ const m = $('Normalize Chatwoot Message').first().json; return [m.msg_id, m.content, 'text', m.direction, m.role, m.from_me, m.created_at, m.chatwoot_conversation_id]; })() }}"
                }
            },
            "credentials": {
                "postgres": {
                    "id": "Z7DeBop4nK4JlIXO",
                    "name": "igor_supabase_postgres"
                }
            }
        },
        {
            "id": "8888ddeb-e161-4069-a6f1-c02a5ba8e6c7",
            "name": "INSERT message_mirrored",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                896,
                288
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.events (event_type, phone, chatwoot_conversation_id, workflow_name, payload)\nVALUES (\n  'message_mirrored',\n  NULL,\n  NULLIF($1::text, '')::int,\n  'IGOR_06_Chatwoot_Message_Logger',\n  $2::jsonb\n);",
                "options": {
                    "queryReplacement": "={{ (function(){ const m = $('Normalize Chatwoot Message').first().json; return [m.chatwoot_conversation_id, JSON.stringify({ msg_id: m.msg_id, message_type: m.message_type, sender_type: m.sender_type, sender_id: m.sender_id, direction: m.direction, role: m.role, from_me: m.from_me, branch: m._branch, content_length: (m.content || '').length, test_run_id: m.test_run_id })]; })() }}"
                }
            },
            "credentials": {
                "postgres": {
                    "id": "Z7DeBop4nK4JlIXO",
                    "name": "igor_supabase_postgres"
                }
            }
        },
        {
            "id": "0f61e414-192d-42ce-8648-b981a7471e7c",
            "name": "INSERT event_filtered",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1792,
                768
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.events (event_type, phone, chatwoot_conversation_id, workflow_name, payload)\nVALUES (\n  'event_filtered',\n  NULL,\n  NULLIF($1::text, '')::int,\n  'IGOR_06_Chatwoot_Message_Logger',\n  $2::jsonb\n);",
                "options": {
                    "queryReplacement": "={{ (function(){ const b = ($('Chatwoot Webhook').first() && $('Chatwoot Webhook').first().json && $('Chatwoot Webhook').first().json.body) || {}; const cid = (b.conversation && b.conversation.id) ? String(b.conversation.id) : ''; return [cid, JSON.stringify({ reason: 'event_not_message_created', event: b.event || null, message_type: b.message_type || null, test_run_id: (b.additional_attributes && b.additional_attributes.test_run_id) || null })]; })() }}"
                }
            },
            "credentials": {
                "postgres": {
                    "id": "Z7DeBop4nK4JlIXO",
                    "name": "igor_supabase_postgres"
                }
            }
        },
        {
            "id": "87c127e0-6a54-4bc9-9483-297eac7c1aff",
            "name": "Filtered Response",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2016,
                768
            ],
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "fr-ok",
                            "name": "ok",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "fr-branch",
                            "name": "branch",
                            "value": "event_filtered",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": false,
                "options": {}
            }
        },
        {
            "id": "14d2e71e-54ca-41c3-b032-9061d9cf78ad",
            "name": "Merge Branches",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                2240,
                336
            ],
            "parameters": {
                "mode": "append",
                "numberInputs": 5
            }
        },
        {
            "id": "089e023e-da88-4ce0-9324-8d769f76e048",
            "name": "Route By Branch",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                1120,
                256
            ],
            "parameters": {
                "mode": "rules",
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "combinator": "and",
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "case-human-takeover",
                                        "leftValue": "={{ $('Normalize Chatwoot Message').first().json._branch }}",
                                        "rightValue": "human_takeover",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            },
                            "renameOutput": true,
                            "outputKey": "human_takeover"
                        },
                        {
                            "conditions": {
                                "combinator": "and",
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "case-bot-noop",
                                        "leftValue": "={{ $('Normalize Chatwoot Message').first().json._branch }}",
                                        "rightValue": "bot_noop",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            },
                            "renameOutput": true,
                            "outputKey": "bot_noop"
                        },
                        {
                            "conditions": {
                                "combinator": "and",
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "case-inbound-noop",
                                        "leftValue": "={{ $('Normalize Chatwoot Message').first().json._branch }}",
                                        "rightValue": "inbound_noop",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            },
                            "renameOutput": true,
                            "outputKey": "inbound_noop"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra",
                    "renameFallbackOutput": "unhandled",
                    "ignoreCase": true,
                    "allMatchingOutputs": false
                }
            }
        },
        {
            "id": "1f9d3880-a755-4d14-9d56-709d06247127",
            "name": "UPDATE conversations SET human_locked",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1344,
                0
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE public.conversations\nSET human_locked = true,\n    ai_enabled = false,\n    state = 'human_assigned',\n    last_human_message_at = COALESCE(NULLIF($1::text, '')::timestamptz, now()),\n    updated_at = now()\nWHERE chatwoot_conversation_id = NULLIF($2::text, '')::int\nRETURNING id, chatwoot_conversation_id, human_locked, ai_enabled, state;",
                "options": {
                    "queryReplacement": "={{ (function(){ const m = $('Normalize Chatwoot Message').first().json; return [m.created_at, m.chatwoot_conversation_id]; })() }}"
                }
            },
            "credentials": {
                "postgres": {
                    "id": "Z7DeBop4nK4JlIXO",
                    "name": "igor_supabase_postgres"
                }
            }
        },
        {
            "id": "dcc31819-3006-47b6-a41c-f271247f36e1",
            "name": "CALL IGOR_04 atendimento_humano",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.3,
            "position": [
                1568,
                0
            ],
            "parameters": {
                "source": "database",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "AJF7dhGrqJEXMLqz",
                    "cachedResultName": "IGOR_04_Tool_Labels_Attributes"
                },
                "mode": "once",
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "chatwoot_conversation_id": "={{ $('Normalize Chatwoot Message').first().json.chatwoot_conversation_id }}",
                        "chatwoot_contact_id": "={{ $('Normalize Chatwoot Message').first().json.chatwoot_contact_id }}",
                        "labels_to_add": "={{ ['atendimento_humano', 'ai_disabled'] }}",
                        "labels_to_remove": "={{ [] }}",
                        "custom_attributes": "={{ ({ conversation: { automation_state: 'human_assigned', lead_status: 'humano_em_atendimento', taken_at: $('Normalize Chatwoot Message').first().json.created_at }, contact: {} }) }}",
                        "test_run_id": "={{ $('Normalize Chatwoot Message').first().json.test_run_id }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "chatwoot_conversation_id",
                            "displayName": "chatwoot_conversation_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string"
                        },
                        {
                            "id": "chatwoot_contact_id",
                            "displayName": "chatwoot_contact_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string"
                        },
                        {
                            "id": "labels_to_add",
                            "displayName": "labels_to_add",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "array"
                        },
                        {
                            "id": "labels_to_remove",
                            "displayName": "labels_to_remove",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "array"
                        },
                        {
                            "id": "custom_attributes",
                            "displayName": "custom_attributes",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "object"
                        },
                        {
                            "id": "test_run_id",
                            "displayName": "test_run_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string"
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {
                    "waitForSubWorkflow": true
                }
            }
        },
        {
            "id": "1352ffa5-a5a5-4dae-b6b7-53859203705d",
            "name": "INSERT human_assumed",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1792,
                0
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.events (event_type, phone, chatwoot_conversation_id, workflow_name, payload)\nVALUES (\n  'human_assumed',\n  NULL,\n  NULLIF($1::text, '')::int,\n  'IGOR_06_Chatwoot_Message_Logger',\n  $2::jsonb\n);",
                "options": {
                    "queryReplacement": "={{ (function(){ const m = $('Normalize Chatwoot Message').first().json; return [m.chatwoot_conversation_id, JSON.stringify({ chatwoot_conversation_id: m.chatwoot_conversation_id, chatwoot_contact_id: m.chatwoot_contact_id, agent_user_id: m.sender_id, agent_user_name: m.sender_name, msg_id: m.msg_id, taken_at: m.created_at, labels_applied: ['atendimento_humano','ai_disabled'], test_run_id: m.test_run_id })]; })() }}"
                }
            },
            "credentials": {
                "postgres": {
                    "id": "Z7DeBop4nK4JlIXO",
                    "name": "igor_supabase_postgres"
                }
            }
        },
        {
            "id": "dbbda68a-9946-4838-9cc9-45f75a01a676",
            "name": "Human Takeover Output",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2016,
                0
            ],
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "ht-ok",
                            "name": "ok",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "ht-branch",
                            "name": "branch",
                            "value": "human_takeover",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": false,
                "options": {}
            }
        },
        {
            "id": "e540bd64-2593-45c2-832d-3e6761c1b72b",
            "name": "Bot NoOp Output",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2016,
                192
            ],
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "bot-ok",
                            "name": "ok",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "bot-branch",
                            "name": "branch",
                            "value": "bot_noop",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": false,
                "options": {}
            }
        },
        {
            "id": "5953a7ee-c092-4408-9120-6235480ada96",
            "name": "Inbound NoOp Output",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2016,
                384
            ],
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "in-ok",
                            "name": "ok",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "in-branch",
                            "name": "branch",
                            "value": "inbound_noop",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": false,
                "options": {}
            }
        },
        {
            "id": "e6d45f67-f237-4c78-9398-fb6562cefc33",
            "name": "INSERT unhandled_message_type",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1792,
                576
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.events (event_type, phone, chatwoot_conversation_id, workflow_name, payload)\nVALUES (\n  'unhandled_message_type',\n  NULL,\n  NULLIF($1::text, '')::int,\n  'IGOR_06_Chatwoot_Message_Logger',\n  $2::jsonb\n);",
                "options": {
                    "queryReplacement": "={{ (function(){ const m = $('Normalize Chatwoot Message').first().json; return [m.chatwoot_conversation_id, JSON.stringify({ msg_id: m.msg_id, message_type: m.message_type, sender_type: m.sender_type, reason: 'unhandled_combo', test_run_id: m.test_run_id })]; })() }}"
                }
            },
            "credentials": {
                "postgres": {
                    "id": "Z7DeBop4nK4JlIXO",
                    "name": "igor_supabase_postgres"
                }
            }
        },
        {
            "id": "d809a1a2-79b5-4df7-a03b-9f6171bbd162",
            "name": "Unhandled Output",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2016,
                576
            ],
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "un-ok",
                            "name": "ok",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "un-branch",
                            "name": "branch",
                            "value": "unhandled",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": false,
                "options": {}
            }
        }
    ],
    "connections": {
        "Chatwoot Webhook": {
            "main": [
                [
                    {
                        "node": "IF event=message_created",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF event=message_created": {
            "main": [
                [
                    {
                        "node": "Normalize Chatwoot Message",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "INSERT event_filtered",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Chatwoot Message": {
            "main": [
                [
                    {
                        "node": "UPSERT Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "UPSERT Messages": {
            "main": [
                [
                    {
                        "node": "INSERT message_mirrored",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "INSERT message_mirrored": {
            "main": [
                [
                    {
                        "node": "Route By Branch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "INSERT event_filtered": {
            "main": [
                [
                    {
                        "node": "Filtered Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filtered Response": {
            "main": [
                [
                    {
                        "node": "Merge Branches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route By Branch": {
            "main": [
                [
                    {
                        "node": "UPDATE conversations SET human_locked",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Bot NoOp Output",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Inbound NoOp Output",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "INSERT unhandled_message_type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "UPDATE conversations SET human_locked": {
            "main": [
                [
                    {
                        "node": "CALL IGOR_04 atendimento_humano",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "CALL IGOR_04 atendimento_humano": {
            "main": [
                [
                    {
                        "node": "INSERT human_assumed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "INSERT human_assumed": {
            "main": [
                [
                    {
                        "node": "Human Takeover Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Human Takeover Output": {
            "main": [
                [
                    {
                        "node": "Merge Branches",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Bot NoOp Output": {
            "main": [
                [
                    {
                        "node": "Merge Branches",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Inbound NoOp Output": {
            "main": [
                [
                    {
                        "node": "Merge Branches",
                        "type": "main",
                        "index": 3
                    }
                ]
            ]
        },
        "INSERT unhandled_message_type": {
            "main": [
                [
                    {
                        "node": "Unhandled Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Unhandled Output": {
            "main": [
                [
                    {
                        "node": "Merge Branches",
                        "type": "main",
                        "index": 4
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": true,
        "errorWorkflow": "ZrsbaSTlW5bqMEaS"
    },
    "staticData": null,
    "meta": {
        "aiBuilderAssisted": true,
        "builderVariant": "mcp"
    },
    "pinData": null,
    "versionId": "552c178f-e156-4523-80cc-33d096b1484c",
    "activeVersionId": null,
    "versionCounter": 2,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2026-05-15T04:36:48.566Z",
            "createdAt": "2026-05-15T04:36:48.566Z",
            "role": "workflow:owner",
            "workflowId": "xpXRENR7Hoo2W5p3",
            "projectId": "fs6cR9FbpYN5UqeV",
            "project": {
                "updatedAt": "2026-05-13T17:58:36.522Z",
                "createdAt": "2026-05-13T17:55:45.649Z",
                "id": "fs6cR9FbpYN5UqeV",
                "name": "Mateus Ferreira <alma.lancamentos@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "a87c56dc-b486-4ae8-8d42-3490e7d3610d"
            }
        }
    ],
    "tags": [
        {
            "updatedAt": "2026-05-15T03:51:59.510Z",
            "createdAt": "2026-05-15T03:51:59.510Z",
            "id": "PPrCQax3p4URUSyB",
            "name": "igor"
        },
        {
            "updatedAt": "2026-05-15T03:52:00.389Z",
            "createdAt": "2026-05-15T03:52:00.389Z",
            "id": "Taa30aYgiV2CoA35",
            "name": "inbound"
        },
        {
            "updatedAt": "2026-05-15T03:52:01.867Z",
            "createdAt": "2026-05-15T03:52:01.867Z",
            "id": "8MAvA3vn5AWx51Rw",
            "name": "fase-b-rebuild"
        },
        {
            "updatedAt": "2026-05-15T04:37:37.338Z",
            "createdAt": "2026-05-15T04:37:37.338Z",
            "id": "pPeOpT6l0jZwDk6P",
            "name": "webhook"
        }
    ],
    "activeVersion": null
}
