n8n/workflows/IGOR_01_Inbound_AfterHours.json
{
  "name": "IGOR_01_Inbound_AfterHours",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "igor/inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-inbound-node",
      "name": "Webhook Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "igor-inbound-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.all().map(item => {\n  const root = item.json || {};\n  const b = root.body || root;\n  const data = b.data || {};\n  const key = data.key || {};\n  const remoteJid = String(key.remoteJid || '');\n  const phoneRaw = remoteJid.split('@')[0];\n  const phone = phoneRaw.replace(/\\D/g, '');\n  const msgTypeRaw = data.messageType || '';\n  const messageType = msgTypeRaw === 'conversation' ? 'text'\n                   : msgTypeRaw === 'audioMessage' ? 'audio'\n                   : msgTypeRaw === 'imageMessage' ? 'image'\n                   : msgTypeRaw === 'documentMessage' ? 'document'\n                   : 'unknown';\n  const msg = data.message || {};\n  const text = msg.conversation || (msg.extendedTextMessage && msg.extendedTextMessage.text) || '';\n  return {\n    json: {\n      instance: b.instance || null,\n      phone,\n      msgId: String(key.id || ''),\n      fromMe: key.fromMe === true,\n      messageType,\n      text,\n      chatwoot_conversation_id: data.chatwoot_conversation_id || null,\n      chatwoot_inbox_id: data.chatwoot_inbox_id || null,\n      test_run_id: b.test_run_id || null,\n      _test_hour_override: b._test_hour_override\n    }\n  };\n});"
      },
      "id": "extract-fields-node",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-from-me",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "true", "singleValue": true}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-from-me-node",
      "name": "IF From Me",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.events (event_type, workflow_name, payload, chatwoot_conversation_id)\nVALUES ('inbound_blocked', 'IGOR_01_Inbound_AfterHours', $1::jsonb, $2)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [JSON.stringify({ reason: 'from_me', phone: $json.phone, msgId: $json.msgId, test_run_id: $json.test_run_id }), $json.chatwoot_conversation_id] }}"
        }
      },
      "id": "log-blocked-fromme-node",
      "name": "Log Blocked FromMe",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [660, -180],
      "credentials": {
        "postgres": {"name": "igor_supabase_postgres"}
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE((SELECT (value)::text::boolean FROM public.settings WHERE key='ai_enabled_global'), true) AS ai_enabled_global,\n  (SELECT value->>'start'    FROM public.settings WHERE key='after_hours_window') AS hours_start,\n  (SELECT value->>'end'      FROM public.settings WHERE key='after_hours_window') AS hours_end,\n  (SELECT value->>'timezone' FROM public.settings WHERE key='after_hours_window') AS tz;",
        "options": {}
      },
      "id": "lookup-settings-node",
      "name": "Lookup Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [660, 180],
      "credentials": {
        "postgres": {"name": "igor_supabase_postgres"}
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// v1: per-workflow gate (settings.workflows_enabled.IGOR_01) deliberately\n// NOT consulted — only ai_enabled_global kill-switch is honored. TODO v2:\n// reintroduce per-workflow gate once /admin tooling toggles it safely.\nconst f = $('Extract Fields').first().json;\nconst s = $input.first().json || {};\nconst aiGlobal = s.ai_enabled_global !== false;\nconst hoursStart = s.hours_start || '18:30';\nconst hoursEnd = s.hours_end || '07:30';\nconst tz = s.tz || 'America/Sao_Paulo';\n\nlet hour = f._test_hour_override;\nif (hour === undefined || hour === null) {\n  const h = new Date().toLocaleString('en-US', { hour: '2-digit', hour12: false, timeZone: tz });\n  hour = parseInt(h, 10);\n}\n\nconst startH = parseInt(hoursStart.split(':')[0], 10);\nconst endH = parseInt(hoursEnd.split(':')[0], 10);\n// After-hours: hour >= startH OR hour < endH\nconst isAfterHours = hour >= startH || hour < endH;\n\n// Phone normalization: 55 + DDD (2) + 9 digits = 13 chars\nconst phoneValid = /^55\\d{11}$/.test(f.phone);\n\nlet blocked = null;\nif (!aiGlobal) blocked = 'ai_disabled_global';\nelse if (!phoneValid) blocked = 'invalid_phone';\nelse if (!isAfterHours) blocked = 'within_hours';\n\nreturn [{\n  json: {\n    ...f,\n    ai_enabled_global: aiGlobal,\n    hours_start: hoursStart,\n    hours_end: hoursEnd,\n    tz,\n    hour_evaluated: hour,\n    is_after_hours: isAfterHours,\n    phone_valid: phoneValid,\n    blocked,\n    current_flow: blocked ? null : 'after_hours',\n    target_workflow: blocked ? null : 'IGOR_03'\n  }\n}];"
      },
      "id": "compute-routing-node",
      "name": "Compute Routing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-blocked",
              "leftValue": "={{ $json.blocked }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEmpty", "singleValue": true}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-blocked-node",
      "name": "IF Blocked",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 180]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.events (event_type, workflow_name, payload, chatwoot_conversation_id)\nVALUES ('inbound_blocked', 'IGOR_01_Inbound_AfterHours', $1::jsonb, $2)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [JSON.stringify({ reason: $json.blocked, phone: $json.phone, msgId: $json.msgId, hour_evaluated: $json.hour_evaluated, test_run_id: $json.test_run_id }), $json.chatwoot_conversation_id] }}"
        }
      },
      "id": "log-blocked-generic-node",
      "name": "Log Blocked Generic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1320, 60],
      "credentials": {
        "postgres": {"name": "igor_supabase_postgres"}
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(c.human_locked, false) AS human_locked,\n  COALESCE(c.ai_enabled,  true)  AS ai_enabled,\n  (c.id IS NOT NULL)            AS conversation_exists\nFROM (SELECT 1) z\nLEFT JOIN public.conversations c ON c.chatwoot_conversation_id = $1::integer;",
        "options": {
          "queryReplacement": "={{ [$json.chatwoot_conversation_id] }}"
        }
      },
      "id": "lookup-conversation-node",
      "name": "Lookup Conversation State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1320, 300],
      "credentials": {
        "postgres": {"name": "igor_supabase_postgres"}
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const f = $('Compute Routing').first().json;\nconst rows = $input.all();\nlet convBlocked = false;\nlet humanLocked = false;\nlet aiEnabled = true;\nif (rows.length > 0 && rows[0].json) {\n  const r = rows[0].json;\n  humanLocked = r.human_locked === true;\n  aiEnabled = r.ai_enabled !== false;\n  convBlocked = humanLocked || !aiEnabled;\n}\nreturn [{\n  json: {\n    ...f,\n    conversation_human_locked: humanLocked,\n    conversation_ai_enabled: aiEnabled,\n    conversation_blocked: convBlocked\n  }\n}];"
      },
      "id": "merge-conv-state-node",
      "name": "Merge Conversation State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-conv-blocked",
              "leftValue": "={{ $json.conversation_blocked }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "true", "singleValue": true}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-conv-blocked-node",
      "name": "IF Conversation Blocked",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.events (event_type, workflow_name, payload, chatwoot_conversation_id)\nVALUES ('inbound_blocked', 'IGOR_01_Inbound_AfterHours', $1::jsonb, $2)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [JSON.stringify({ reason: 'conversation_locked', phone: $json.phone, msgId: $json.msgId, human_locked: $json.conversation_human_locked, ai_enabled: $json.conversation_ai_enabled, test_run_id: $json.test_run_id }), $json.chatwoot_conversation_id] }}"
        }
      },
      "id": "log-blocked-conv-node",
      "name": "Log Blocked Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1980, 180],
      "credentials": {
        "postgres": {"name": "igor_supabase_postgres"}
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.events (event_type, workflow_name, payload, chatwoot_conversation_id)\nVALUES ('inbound_routed', 'IGOR_01_Inbound_AfterHours', $1::jsonb, $2)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [JSON.stringify({ phone: $json.phone, msgId: $json.msgId, message_type: $json.messageType, target_workflow: 'IGOR_03', current_flow: 'after_hours', is_after_hours: true, hour_evaluated: $json.hour_evaluated, test_run_id: $json.test_run_id }), $json.chatwoot_conversation_id] }}"
        }
      },
      "id": "log-routed-node",
      "name": "Log Routed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1980, 420],
      "credentials": {
        "postgres": {"name": "igor_supabase_postgres"}
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, blocked: 'from_me' }) }}",
        "options": {"responseCode": 200}
      },
      "id": "respond-fromme-node",
      "name": "Respond FromMe",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, -180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, blocked: $json.blocked }) }}",
        "options": {"responseCode": 200}
      },
      "id": "respond-blocked-node",
      "name": "Respond Blocked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 60]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, blocked: 'conversation_locked' }) }}",
        "options": {"responseCode": 200}
      },
      "id": "respond-conv-blocked-node",
      "name": "Respond Conv Blocked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, routed_to: 'IGOR_03', current_flow: 'after_hours' }) }}",
        "options": {"responseCode": 200}
      },
      "id": "respond-routed-node",
      "name": "Respond Routed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 420]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Inbound": {
      "main": [
        [
          {"node": "Extract Fields", "type": "main", "index": 0}
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {"node": "IF From Me", "type": "main", "index": 0}
        ]
      ]
    },
    "IF From Me": {
      "main": [
        [
          {"node": "Log Blocked FromMe", "type": "main", "index": 0}
        ],
        [
          {"node": "Lookup Settings", "type": "main", "index": 0}
        ]
      ]
    },
    "Log Blocked FromMe": {
      "main": [
        [
          {"node": "Respond FromMe", "type": "main", "index": 0}
        ]
      ]
    },
    "Lookup Settings": {
      "main": [
        [
          {"node": "Compute Routing", "type": "main", "index": 0}
        ]
      ]
    },
    "Compute Routing": {
      "main": [
        [
          {"node": "IF Blocked", "type": "main", "index": 0}
        ]
      ]
    },
    "IF Blocked": {
      "main": [
        [
          {"node": "Log Blocked Generic", "type": "main", "index": 0}
        ],
        [
          {"node": "Lookup Conversation State", "type": "main", "index": 0}
        ]
      ]
    },
    "Log Blocked Generic": {
      "main": [
        [
          {"node": "Respond Blocked", "type": "main", "index": 0}
        ]
      ]
    },
    "Lookup Conversation State": {
      "main": [
        [
          {"node": "Merge Conversation State", "type": "main", "index": 0}
        ]
      ]
    },
    "Merge Conversation State": {
      "main": [
        [
          {"node": "IF Conversation Blocked", "type": "main", "index": 0}
        ]
      ]
    },
    "IF Conversation Blocked": {
      "main": [
        [
          {"node": "Log Blocked Conversation", "type": "main", "index": 0}
        ],
        [
          {"node": "Log Routed", "type": "main", "index": 0}
        ]
      ]
    },
    "Log Blocked Conversation": {
      "main": [
        [
          {"node": "Respond Conv Blocked", "type": "main", "index": 0}
        ]
      ]
    },
    "Log Routed": {
      "main": [
        [
          {"node": "Respond Routed", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ZrsbaSTlW5bqMEaS"
  }
}
