n8n/workflows/IGOR_03_Agent_AfterHours.json
{
  "name": "IGOR_03_Agent_AfterHours",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {"name": "phone", "type": "string"},
            {"name": "normalized_text", "type": "string"},
            {"name": "chatwoot_conversation_id", "type": "number"},
            {"name": "chatwoot_inbox_id", "type": "number"},
            {"name": "chatwoot_contact_id", "type": "number"},
            {"name": "safety_flags", "type": "object"},
            {"name": "should_handoff", "type": "boolean"},
            {"name": "handoff_reason", "type": "string"},
            {"name": "test_run_id", "type": "string"}
          ]
        }
      },
      "id": "execute-trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const j = item.json || {};\n  const phone = (j.phone === undefined || j.phone === null || j.phone === '') ? null : String(j.phone);\n  const normalizedText = (j.normalized_text === undefined || j.normalized_text === null) ? '' : String(j.normalized_text);\n  const convIdRaw = j.chatwoot_conversation_id;\n  const convId = (convIdRaw === undefined || convIdRaw === null || convIdRaw === '') ? null : parseInt(convIdRaw, 10);\n  const inboxIdRaw = j.chatwoot_inbox_id;\n  const inboxId = (inboxIdRaw === undefined || inboxIdRaw === null || inboxIdRaw === '') ? 1 : parseInt(inboxIdRaw, 10);\n  const contactIdRaw = j.chatwoot_contact_id;\n  const contactId = (contactIdRaw === undefined || contactIdRaw === null || contactIdRaw === '') ? null : parseInt(contactIdRaw, 10);\n  const sf = (j.safety_flags && typeof j.safety_flags === 'object') ? j.safety_flags : {};\n  const safetyFlags = {\n    clinical: sf.clinical === true,\n    sensitive_image: sf.sensitive_image === true,\n    unknown_media: sf.unknown_media === true\n  };\n  const shouldHandoff = j.should_handoff === true;\n  const handoffReason = (j.handoff_reason === undefined || j.handoff_reason === null || j.handoff_reason === '') ? null : String(j.handoff_reason);\n  const testRunId = (j.test_run_id === undefined || j.test_run_id === null) ? null : String(j.test_run_id);\n  const forceHandoff = shouldHandoff || safetyFlags.clinical || safetyFlags.sensitive_image || safetyFlags.unknown_media;\n  const resolvedReason = handoffReason || (safetyFlags.clinical ? 'documento_clinico_sensivel' : (safetyFlags.sensitive_image ? 'midia_sensivel' : (safetyFlags.unknown_media ? 'midia_desconhecida' : 'unspecified')));\n  return {\n    json: {\n      phone,\n      normalized_text: normalizedText,\n      chatwoot_conversation_id: convId,\n      chatwoot_inbox_id: inboxId,\n      chatwoot_contact_id: contactId,\n      safety_flags: safetyFlags,\n      should_handoff: shouldHandoff,\n      handoff_reason: resolvedReason,\n      force_handoff: forceHandoff,\n      test_run_id: testRunId\n    }\n  };\n});"
      },
      "id": "validate-payload-node",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "force-handoff",
              "leftValue": "={{ $json.force_handoff }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-should-handoff-node",
      "name": "IF Should Handoff",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const v = $('Validate Payload').first().json;\nconst payload = {\n  phone: v.phone,\n  reason: v.handoff_reason,\n  safety_flags: v.safety_flags,\n  should_handoff: v.should_handoff,\n  test_run_id: v.test_run_id\n};\nreturn [{\n  json: {\n    routed_payload_json: JSON.stringify(payload),\n    chatwoot_conversation_id: v.chatwoot_conversation_id,\n    phone: v.phone,\n    test_run_id: v.test_run_id\n  }\n}];"
      },
      "id": "shape-routed-event-node",
      "name": "Shape Routed Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -160]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.events (event_type, workflow_name, payload, phone, chatwoot_conversation_id)\nVALUES ('agent_routed_to_handoff', 'IGOR_03_Agent_AfterHours', $1::jsonb, $2, $3::integer);",
        "options": {
          "queryReplacement": "={{ [$json.routed_payload_json, $json.phone, $json.chatwoot_conversation_id] }}"
        }
      },
      "id": "log-routed-to-handoff-node",
      "name": "Log Routed To Handoff",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [880, -160],
      "credentials": {
        "postgres": {
          "name": "igor_supabase_postgres"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "xHorZFRZYAaklR1F"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Validate Payload').first().json.phone }}",
            "chatwoot_conversation_id": "={{ $('Validate Payload').first().json.chatwoot_conversation_id }}",
            "chatwoot_inbox_id": "={{ $('Validate Payload').first().json.chatwoot_inbox_id }}",
            "chatwoot_contact_id": "={{ $('Validate Payload').first().json.chatwoot_contact_id }}",
            "lead_id": "",
            "handoff_reason": "={{ $('Validate Payload').first().json.handoff_reason }}",
            "summary": "Compliance handoff via IGOR_03",
            "callback_period": "",
            "owner_flow": "after_hours",
            "nome": "",
            "test_run_id": "={{ $('Validate Payload').first().json.test_run_id }}",
            "_skip_chatwoot_calls": true
          },
          "schema": [
            {"id": "phone", "displayName": "phone", "required": true, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "chatwoot_conversation_id", "displayName": "chatwoot_conversation_id", "required": false, "type": "number", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "chatwoot_inbox_id", "displayName": "chatwoot_inbox_id", "required": false, "type": "number", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "chatwoot_contact_id", "displayName": "chatwoot_contact_id", "required": false, "type": "number", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "lead_id", "displayName": "lead_id", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "handoff_reason", "displayName": "handoff_reason", "required": true, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "summary", "displayName": "summary", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "callback_period", "displayName": "callback_period", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "owner_flow", "displayName": "owner_flow", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "nome", "displayName": "nome", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "test_run_id", "displayName": "test_run_id", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "_skip_chatwoot_calls", "displayName": "_skip_chatwoot_calls", "required": false, "type": "boolean", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "call-igor-05-node",
      "name": "Call IGOR_05 (compliance)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1100, -160]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "compliance-flag", "name": "routed", "value": "compliance_handoff", "type": "string"},
            {"id": "success-flag", "name": "success", "value": true, "type": "boolean"},
            {"id": "test-run-id-out", "name": "test_run_id", "value": "={{ $('Validate Payload').first().json.test_run_id }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "compliance-response-node",
      "name": "Compliance Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1320, -160]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Validate Payload').first().json.normalized_text }}",
        "options": {
          "systemMessage": "Você é Alice, atendente IA do Instituto Dr. Igor. Está respondendo um lead via WhatsApp FORA DO HORÁRIO COMERCIAL (após 18h30 ou antes de 07h30).\n\n# Seu papel\n- Acolher com cordialidade.\n- Coletar exatamente 3 informações: nome do lead, objetivo principal de buscar o Dr. Igor, melhor período/horário para retorno (manhã/tarde/noite ou específico).\n- Quando coletar os 3, chamar trigger_handoff e ENCERRAR a conversa.\n\n# Tom\n- Cordial, breve. 1-3 linhas por mensagem.\n- Linguagem natural, sem robotice. Tutear (usar \"você\").\n- Sem emojis exagerados — no máximo 1 ocasional.\n\n# Restrições absolutas\n- NÃO diagnosticar nada.\n- NÃO comentar mídia clínica (exames, laudos, fotos do corpo). Se detectar, chame trigger_handoff com motivo \"documento_clinico_sensivel\" imediatamente.\n- NÃO prometer horário específico. Só dizer \"a equipe vai te chamar no período X que você indicou\".\n- NÃO prometer resultado clínico.\n- NÃO insistir após \"não\".\n\n# Quando usar tools\n- save_lead_partial: a cada nova info coletada (nome, objetivo, callback).\n- update_conversation_state: quando estado muda (collecting_name → quick_qualification → collecting_callback_time → handoff_pending).\n- set_label_and_attr: aplicar labels (qualificacao_rapida quando saber objetivo, callback_solicitado quando souber período).\n- trigger_handoff: APENAS quando tiver os 3 (nome E objetivo E callback) OU detectar mídia clínica OU lead pedir humano.\n\n# Sequência ideal\n1. Saudar: \"Oi! Aqui é a Alice, do Dr. Igor. A equipe ainda não está no expediente, mas posso te ajudar a deixar um recado pra eles te chamarem. Tudo bem?\"\n2. Coletar nome.\n3. Coletar objetivo.\n4. Coletar callback.\n5. trigger_handoff → mensagem final é enviada pelo IGOR_05.",
          "returnIntermediateSteps": false
        }
      },
      "id": "ai-agent-node",
      "name": "AI Agent (Alice)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [660, 200]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "openai-model-node",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [440, 420],
      "credentials": {
        "openAiApi": {
          "name": "igor_openai"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ \"after_hours_\" + $('Validate Payload').first().json.phone }}",
        "contextWindowLength": 25
      },
      "id": "memory-postgres-node",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [600, 420],
      "credentials": {
        "postgres": {
          "name": "igor_supabase_postgres"
        }
      }
    },
    {
      "parameters": {
        "description": "Use para aplicar labels e custom attributes na conversa Chatwoot. Use depois de coletar nome E objetivo E período.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "srZRMaFljJIKzyuQ"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatwoot_conversation_id": "={{ $('Validate Payload').first().json.chatwoot_conversation_id }}",
            "labels_to_add": "={{ $fromAI('labels_to_add', 'Array JSON de labels para adicionar (ex: [\"qualificacao_rapida\",\"callback_solicitado\"])', 'string') }}",
            "labels_to_remove": "={{ $fromAI('labels_to_remove', 'Array JSON de labels para remover (ex: [])', 'string') }}",
            "custom_attributes": "={{ $fromAI('custom_attributes', 'Objeto JSON de custom_attributes (ex: {\"callback_period\":\"tarde\"})', 'string') }}",
            "test_run_id": "={{ $('Validate Payload').first().json.test_run_id }}"
          },
          "schema": [
            {"id": "chatwoot_conversation_id", "displayName": "chatwoot_conversation_id", "required": true, "type": "number", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "labels_to_add", "displayName": "labels_to_add", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "labels_to_remove", "displayName": "labels_to_remove", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "custom_attributes", "displayName": "custom_attributes", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "test_run_id", "displayName": "test_run_id", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-set-label-node",
      "name": "tool_set_label_and_attr",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [760, 420]
    },
    {
      "parameters": {
        "description": "Use para gravar dados parciais do lead em leads. Use quando coletar nome, objetivo, ou cidade.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "hRogDlGsgQxGwnD8"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Validate Payload').first().json.phone }}",
            "source": "after_hours",
            "external_id": "={{ $fromAI('external_id', 'Identificador externo se houver, senao vazio', 'string') }}",
            "objective": "={{ $fromAI('objective', 'Objetivo principal informado pelo lead (texto curto, ex: emagrecimento)', 'string') }}",
            "city": "={{ $fromAI('city', 'Cidade se informada, senao vazio', 'string') }}",
            "callback_period": "={{ $fromAI('callback_period', 'Periodo de retorno (manha|tarde|noite|<especifico>)', 'string') }}",
            "kommo_data": "={{ $fromAI('kommo_data', 'JSON livre com extras (ou string vazia)', 'string') }}",
            "test_run_id": "={{ $('Validate Payload').first().json.test_run_id }}"
          },
          "schema": [
            {"id": "phone", "displayName": "phone", "required": true, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "source", "displayName": "source", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "external_id", "displayName": "external_id", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "objective", "displayName": "objective", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "city", "displayName": "city", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "callback_period", "displayName": "callback_period", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "kommo_data", "displayName": "kommo_data", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "test_run_id", "displayName": "test_run_id", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-save-lead-node",
      "name": "tool_save_lead_partial",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [920, 420]
    },
    {
      "parameters": {
        "description": "Use para atualizar o estado da conversa (state, ai_enabled). Use a cada transição de etapa.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "mFuRPrGGt7yWVqEw"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatwoot_conversation_id": "={{ $('Validate Payload').first().json.chatwoot_conversation_id }}",
            "chatwoot_inbox_id": "={{ $('Validate Payload').first().json.chatwoot_inbox_id }}",
            "phone": "={{ $('Validate Payload').first().json.phone }}",
            "state": "={{ $fromAI('state', 'Novo estado (collecting_name|quick_qualification|collecting_callback_time|handoff_pending)', 'string') }}",
            "ai_enabled": "={{ $fromAI('ai_enabled', 'true se IA ainda responde, false se humano assumiu', 'boolean') }}",
            "human_locked": "={{ $fromAI('human_locked', 'true se conversa travou em humano', 'boolean') }}",
            "current_flow": "after_hours",
            "test_run_id": "={{ $('Validate Payload').first().json.test_run_id }}"
          },
          "schema": [
            {"id": "chatwoot_conversation_id", "displayName": "chatwoot_conversation_id", "required": true, "type": "number", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "chatwoot_inbox_id", "displayName": "chatwoot_inbox_id", "required": false, "type": "number", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "phone", "displayName": "phone", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "state", "displayName": "state", "required": true, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "ai_enabled", "displayName": "ai_enabled", "required": false, "type": "boolean", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "human_locked", "displayName": "human_locked", "required": false, "type": "boolean", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "current_flow", "displayName": "current_flow", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "test_run_id", "displayName": "test_run_id", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-update-conv-node",
      "name": "tool_update_conversation_state",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [1080, 420]
    },
    {
      "parameters": {
        "description": "Use APENAS quando: a) coletou nome E objetivo E callback_period; b) detectou mídia clínica sensível; c) lead pediu falar com humano. NÃO chame antes.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "xHorZFRZYAaklR1F"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Validate Payload').first().json.phone }}",
            "chatwoot_conversation_id": "={{ $('Validate Payload').first().json.chatwoot_conversation_id }}",
            "chatwoot_inbox_id": "={{ $('Validate Payload').first().json.chatwoot_inbox_id }}",
            "chatwoot_contact_id": "={{ $('Validate Payload').first().json.chatwoot_contact_id }}",
            "lead_id": "={{ $fromAI('lead_id', 'UUID do lead se houver, senao vazio', 'string') }}",
            "handoff_reason": "={{ $fromAI('handoff_reason', 'Motivo do handoff (after_hours_callback|documento_clinico_sensivel|pediu_humano|...)', 'string') }}",
            "summary": "={{ $fromAI('summary', 'Resumo 2-3 linhas do lead, objetivo e callback', 'string') }}",
            "callback_period": "={{ $fromAI('callback_period', 'Periodo do callback (manha|tarde|noite|<especifico>)', 'string') }}",
            "owner_flow": "after_hours",
            "nome": "={{ $fromAI('nome', 'Nome do lead se coletado', 'string') }}",
            "test_run_id": "={{ $('Validate Payload').first().json.test_run_id }}",
            "_skip_chatwoot_calls": false
          },
          "schema": [
            {"id": "phone", "displayName": "phone", "required": true, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "chatwoot_conversation_id", "displayName": "chatwoot_conversation_id", "required": false, "type": "number", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "chatwoot_inbox_id", "displayName": "chatwoot_inbox_id", "required": false, "type": "number", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "chatwoot_contact_id", "displayName": "chatwoot_contact_id", "required": false, "type": "number", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "lead_id", "displayName": "lead_id", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "handoff_reason", "displayName": "handoff_reason", "required": true, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "summary", "displayName": "summary", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "callback_period", "displayName": "callback_period", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "owner_flow", "displayName": "owner_flow", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "nome", "displayName": "nome", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "test_run_id", "displayName": "test_run_id", "required": false, "type": "string", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false},
            {"id": "_skip_chatwoot_calls", "displayName": "_skip_chatwoot_calls", "required": false, "type": "boolean", "display": true, "canBeUsedToMatch": true, "defaultMatch": false, "removed": false}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-trigger-handoff-node",
      "name": "tool_trigger_handoff",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [1240, 420]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const v = $('Validate Payload').first().json;\nconst agentOut = $input.first().json || {};\nconst response = agentOut.output || agentOut.text || agentOut.response || '';\nconst payload = {\n  phone: v.phone,\n  response,\n  test_run_id: v.test_run_id\n};\nreturn [{\n  json: {\n    chatwoot_conversation_id: v.chatwoot_conversation_id,\n    phone: v.phone,\n    response,\n    response_payload_json: JSON.stringify(payload),\n    test_run_id: v.test_run_id\n  }\n}];"
      },
      "id": "shape-agent-response-node",
      "name": "Shape Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.events (event_type, workflow_name, payload, phone, chatwoot_conversation_id)\nVALUES ('agent_response', 'IGOR_03_Agent_AfterHours', $1::jsonb, $2, $3::integer);",
        "options": {
          "queryReplacement": "={{ [$json.response_payload_json, $json.phone, $json.chatwoot_conversation_id] }}"
        }
      },
      "id": "log-agent-response-node",
      "name": "Log Agent Response",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1120, 200],
      "credentials": {
        "postgres": {
          "name": "igor_supabase_postgres"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "agent-routed-flag", "name": "routed", "value": "agent", "type": "string"},
            {"id": "agent-success-flag", "name": "success", "value": true, "type": "boolean"},
            {"id": "agent-response-out", "name": "response", "value": "={{ $('Shape Agent Response').first().json.response }}", "type": "string"},
            {"id": "agent-test-run-id", "name": "test_run_id", "value": "={{ $('Validate Payload').first().json.test_run_id }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "agent-response-out-node",
      "name": "Agent Response Out",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 200]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {"node": "Validate Payload", "type": "main", "index": 0}
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {"node": "IF Should Handoff", "type": "main", "index": 0}
        ]
      ]
    },
    "IF Should Handoff": {
      "main": [
        [
          {"node": "Shape Routed Event", "type": "main", "index": 0}
        ],
        [
          {"node": "AI Agent (Alice)", "type": "main", "index": 0}
        ]
      ]
    },
    "Shape Routed Event": {
      "main": [
        [
          {"node": "Log Routed To Handoff", "type": "main", "index": 0}
        ]
      ]
    },
    "Log Routed To Handoff": {
      "main": [
        [
          {"node": "Call IGOR_05 (compliance)", "type": "main", "index": 0}
        ]
      ]
    },
    "Call IGOR_05 (compliance)": {
      "main": [
        [
          {"node": "Compliance Response", "type": "main", "index": 0}
        ]
      ]
    },
    "AI Agent (Alice)": {
      "main": [
        [
          {"node": "Shape Agent Response", "type": "main", "index": 0}
        ]
      ]
    },
    "Shape Agent Response": {
      "main": [
        [
          {"node": "Log Agent Response", "type": "main", "index": 0}
        ]
      ]
    },
    "Log Agent Response": {
      "main": [
        [
          {"node": "Agent Response Out", "type": "main", "index": 0}
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {"node": "AI Agent (Alice)", "type": "ai_languageModel", "index": 0}
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {"node": "AI Agent (Alice)", "type": "ai_memory", "index": 0}
        ]
      ]
    },
    "tool_set_label_and_attr": {
      "ai_tool": [
        [
          {"node": "AI Agent (Alice)", "type": "ai_tool", "index": 0}
        ]
      ]
    },
    "tool_save_lead_partial": {
      "ai_tool": [
        [
          {"node": "AI Agent (Alice)", "type": "ai_tool", "index": 0}
        ]
      ]
    },
    "tool_update_conversation_state": {
      "ai_tool": [
        [
          {"node": "AI Agent (Alice)", "type": "ai_tool", "index": 0}
        ]
      ]
    },
    "tool_trigger_handoff": {
      "ai_tool": [
        [
          {"node": "AI Agent (Alice)", "type": "ai_tool", "index": 0}
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ZrsbaSTlW5bqMEaS"
  }
}
