n8n/workflows/IGOR_AUX_update_conversation_state.json
{
  "name": "IGOR_AUX_update_conversation_state",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {"name": "phone", "type": "string"},
            {"name": "chatwoot_conversation_id", "type": "number"},
            {"name": "chatwoot_inbox_id", "type": "number"},
            {"name": "state", "type": "string"},
            {"name": "ai_enabled", "type": "boolean"},
            {"name": "human_locked", "type": "boolean"},
            {"name": "current_flow", "type": "string"},
            {"name": "test_run_id", "type": "string"}
          ]
        }
      },
      "id": "execute-trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const j = item.json || {};\n  const phone = (j.phone === undefined || j.phone === null) ? null : String(j.phone);\n  const convIdRaw = j.chatwoot_conversation_id;\n  const convId = (convIdRaw === undefined || convIdRaw === null || convIdRaw === '') ? null : parseInt(convIdRaw, 10);\n  const inboxIdRaw = j.chatwoot_inbox_id;\n  const inboxId = (inboxIdRaw === undefined || inboxIdRaw === null || inboxIdRaw === '') ? null : parseInt(inboxIdRaw, 10);\n  const state = (j.state === undefined || j.state === null || j.state === '') ? null : String(j.state);\n  const aiEnabled = (j.ai_enabled === undefined || j.ai_enabled === null) ? null : Boolean(j.ai_enabled);\n  const humanLocked = (j.human_locked === undefined || j.human_locked === null) ? null : Boolean(j.human_locked);\n  const currentFlow = (j.current_flow === undefined || j.current_flow === null || j.current_flow === '') ? null : String(j.current_flow);\n  const testRunId = (j.test_run_id === undefined || j.test_run_id === null) ? null : String(j.test_run_id);\n  return {\n    json: {\n      phone,\n      chatwoot_conversation_id: convId,\n      chatwoot_inbox_id: inboxId,\n      state,\n      ai_enabled: aiEnabled,\n      human_locked: humanLocked,\n      current_flow: currentFlow,\n      test_run_id: testRunId,\n      ai_enabled_param: aiEnabled === null ? null : (aiEnabled ? 'true' : 'false'),\n      human_locked_param: humanLocked === null ? null : (humanLocked ? 'true' : 'false')\n    }\n  };\n});"
      },
      "id": "validate-payload-node",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ct AS (\n  INSERT INTO public.contacts (phone, name)\n  VALUES ($1, NULL)\n  ON CONFLICT (phone) DO UPDATE SET updated_at = now()\n  RETURNING id\n),\ncv_upsert AS (\n  INSERT INTO public.conversations (contact_id, chatwoot_conversation_id, chatwoot_inbox_id, state, ai_enabled, human_locked, current_flow)\n  SELECT\n    ct.id,\n    $2::integer,\n    $3::integer,\n    COALESCE($4, 'new'),\n    COALESCE($5::boolean, true),\n    COALESCE($6::boolean, false),\n    $7\n  FROM ct\n  ON CONFLICT (chatwoot_conversation_id) DO UPDATE SET\n    state = COALESCE($4, public.conversations.state),\n    ai_enabled = COALESCE($5::boolean, public.conversations.ai_enabled),\n    human_locked = COALESCE($6::boolean, public.conversations.human_locked),\n    current_flow = COALESCE($7, public.conversations.current_flow),\n    updated_at = now()\n  RETURNING id, chatwoot_conversation_id\n)\nSELECT id, chatwoot_conversation_id FROM cv_upsert;",
        "options": {
          "queryReplacement": "={{ [$json.phone, $json.chatwoot_conversation_id, $json.chatwoot_inbox_id, $json.state, $json.ai_enabled_param, $json.human_locked_param, $json.current_flow] }}"
        }
      },
      "id": "upsert-conversation-node",
      "name": "Upsert Contact + Conversation + Update State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [440, 0],
      "credentials": {
        "postgres": {
          "name": "igor_supabase_postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const validated = $('Validate Payload').first().json;\nconst items = $input.all();\nreturn items.map(item => {\n  const j = item.json || {};\n  const convId = j.chatwoot_conversation_id || validated.chatwoot_conversation_id;\n  return {\n    json: {\n      chatwoot_conversation_id: convId,\n      test_run_id: validated.test_run_id,\n      event_payload_json: JSON.stringify({\n        test_run_id: validated.test_run_id,\n        chatwoot_conversation_id: convId,\n        state: validated.state,\n        ai_enabled: validated.ai_enabled,\n        human_locked: validated.human_locked,\n        current_flow: validated.current_flow\n      })\n    }\n  };\n});"
      },
      "id": "shape-event-node",
      "name": "Shape Event Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.events (event_type, workflow_name, payload, chatwoot_conversation_id)\nVALUES ('conversation_state_updated', 'IGOR_AUX_update_conversation_state', $1::jsonb, $2::integer);",
        "options": {
          "queryReplacement": "={{ [$json.event_payload_json, $json.chatwoot_conversation_id] }}"
        }
      },
      "id": "log-event-node",
      "name": "Log Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [880, 0],
      "credentials": {
        "postgres": {
          "name": "igor_supabase_postgres"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-flag",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "conv-id-out",
              "name": "chatwoot_conversation_id",
              "value": "={{ $('Shape Event Payload').first().json.chatwoot_conversation_id }}",
              "type": "number"
            },
            {
              "id": "test-run-id-out",
              "name": "test_run_id",
              "value": "={{ $('Shape Event Payload').first().json.test_run_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "respond-success-node",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {"node": "Validate Payload", "type": "main", "index": 0}
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {"node": "Upsert Contact + Conversation + Update State", "type": "main", "index": 0}
        ]
      ]
    },
    "Upsert Contact + Conversation + Update State": {
      "main": [
        [
          {"node": "Shape Event Payload", "type": "main", "index": 0}
        ]
      ]
    },
    "Shape Event Payload": {
      "main": [
        [
          {"node": "Log Event", "type": "main", "index": 0}
        ]
      ]
    },
    "Log Event": {
      "main": [
        [
          {"node": "Success Response", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ZrsbaSTlW5bqMEaS"
  }
}
