n8n/workflows/IGOR_03_Agent_AfterHours.json
{
    "updatedAt": "2026-05-15T05:54:03.438Z",
    "createdAt": "2026-05-15T05:52:30.477Z",
    "id": "iQCVbe1P8dC0vhay",
    "name": "IGOR_03_Agent_AfterHours",
    "description": "IGOR_03: agente Alice (gpt-5.4-mini + Postgres Chat Memory ctx 25) + compliance fast-path + reply path estruturado (Format -> SplitOut -> SplitInBatches -> Presence -> Send gated -> Wait -> Log). 4 tools: IGOR_04/05, AUX_save_lead/update_conv.",
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "id": "ad3a70d1-5cbc-4e46-a6aa-a9b3855d1458",
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                144
            ],
            "parameters": {
                "inputSource": "workflowInputs",
                "workflowInputs": {
                    "values": [
                        {
                            "name": "phone",
                            "type": "string"
                        },
                        {
                            "name": "msgId",
                            "type": "string"
                        },
                        {
                            "name": "chatwoot_conversation_id",
                            "type": "string"
                        },
                        {
                            "name": "chatwoot_contact_id",
                            "type": "string"
                        },
                        {
                            "name": "normalized_text",
                            "type": "string"
                        },
                        {
                            "name": "safety_flags",
                            "type": "object"
                        },
                        {
                            "name": "should_handoff",
                            "type": "boolean"
                        },
                        {
                            "name": "handoff_reason",
                            "type": "string"
                        },
                        {
                            "name": "fragments_count",
                            "type": "number"
                        },
                        {
                            "name": "test_run_id",
                            "type": "string"
                        }
                    ]
                }
            }
        },
        {
            "id": "9bdbf43b-5c23-4144-964b-0dc81b47ebca",
            "name": "Validate Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                144
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const j = item.json || {};\n  const phone = (j.phone === undefined || j.phone === null) ? '' : String(j.phone).trim();\n  const msgId = (j.msgId === undefined || j.msgId === null) ? '' : String(j.msgId).trim();\n  const convId = (j.chatwoot_conversation_id === undefined || j.chatwoot_conversation_id === null) ? '' : String(j.chatwoot_conversation_id).trim();\n  const contactId = (j.chatwoot_contact_id === undefined || j.chatwoot_contact_id === null) ? '' : String(j.chatwoot_contact_id).trim();\n  const normalizedText = (j.normalized_text === undefined || j.normalized_text === null) ? '' : String(j.normalized_text);\n  let safetyFlags = j.safety_flags;\n  if (typeof safetyFlags === 'string') {\n    try { safetyFlags = JSON.parse(safetyFlags); } catch (e) { safetyFlags = {}; }\n  }\n  if (!safetyFlags || typeof safetyFlags !== 'object' || Array.isArray(safetyFlags)) safetyFlags = {};\n  const clinical = safetyFlags.clinical === true;\n  const sensitiveImage = safetyFlags.sensitive_image === true;\n  const paymentProof = safetyFlags.payment_proof === true;\n  const shouldHandoff = j.should_handoff === true || j.should_handoff === 'true';\n  const handoffReason = (j.handoff_reason === undefined || j.handoff_reason === null) ? '' : String(j.handoff_reason);\n  const fragmentsCount = (typeof j.fragments_count === 'number') ? j.fragments_count : (parseInt(j.fragments_count, 10) || 1);\n  const testRunId = (j.test_run_id === undefined || j.test_run_id === null) ? '' : String(j.test_run_id);\n  const isCompliance = shouldHandoff || clinical || sensitiveImage || paymentProof;\n  let resolvedHandoffReason = handoffReason;\n  if (!resolvedHandoffReason || resolvedHandoffReason === '') {\n    if (clinical) resolvedHandoffReason = 'documento_clinico_sensivel';\n    else if (sensitiveImage) resolvedHandoffReason = 'imagem_sensivel';\n    else if (paymentProof) resolvedHandoffReason = 'comprovante_pagamento';\n    else if (shouldHandoff) resolvedHandoffReason = 'safety_flag_generic';\n  }\n  const allowRealRaw = (typeof process !== 'undefined' && process.env && process.env.ALLOW_REAL_WHATSAPP_SEND) ? String(process.env.ALLOW_REAL_WHATSAPP_SEND).toLowerCase() : 'false';\n  const dryRunRaw = (typeof process !== 'undefined' && process.env && process.env.IGOR_DRY_RUN) ? String(process.env.IGOR_DRY_RUN).toLowerCase() : 'true';\n  const allowReal = allowRealRaw === 'true';\n  const dryRun = dryRunRaw === 'true';\n  const shouldSendReal = allowReal && !dryRun;\n  let sendGateReason;\n  if (shouldSendReal) sendGateReason = 'allow_real_true_and_dry_run_false';\n  else if (!allowReal) sendGateReason = 'allow_real_whatsapp_send_not_true';\n  else sendGateReason = 'igor_dry_run_true';\n  const sessionKey = 'after_hours_' + phone;\n  const igor05CompliancePayload = {\n    chatwoot_conversation_id: convId,\n    chatwoot_contact_id: contactId,\n    lead_id: '',\n    handoff_reason: resolvedHandoffReason,\n    summary: 'Midia/conteudo sensivel detectado pelo normalizer.',\n    callback_period: '',\n    owner_flow: 'after_hours',\n    test_run_id: testRunId,\n  };\n  return {\n    json: {\n      phone,\n      msg_id: msgId,\n      chatwoot_conversation_id: convId,\n      chatwoot_contact_id: contactId,\n      normalized_text: normalizedText,\n      safety_flags: safetyFlags,\n      should_handoff: shouldHandoff,\n      handoff_reason: resolvedHandoffReason,\n      fragments_count: fragmentsCount,\n      test_run_id: testRunId,\n      _is_compliance: isCompliance,\n      _safety_clinical: clinical,\n      _safety_sensitive_image: sensitiveImage,\n      _safety_payment_proof: paymentProof,\n      _allow_real_whatsapp_send: allowReal,\n      _igor_dry_run: dryRun,\n      _should_send_real: shouldSendReal,\n      _send_gate_reason: sendGateReason,\n      session_key: sessionKey,\n      igor05_compliance_payload: igor05CompliancePayload,\n      igor05_compliance_payload_json: JSON.stringify(igor05CompliancePayload),\n    },\n  };\n});"
            }
        },
        {
            "id": "fe18faaf-2c59-4612-a164-90fc7fe00849",
            "name": "Compliance Fast-Path?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                448,
                144
            ],
            "parameters": {
                "conditions": {
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "is-compliance-cond",
                            "leftValue": "={{ $('Validate Payload').first().json._is_compliance }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    }
                }
            }
        },
        {
            "id": "3aade942-3cae-4ba1-b3de-9ce6e42bc006",
            "name": "Log agent_routed_to_handoff",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                672,
                0
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.events (event_type, phone, chatwoot_conversation_id, workflow_name, payload)\nVALUES ('agent_routed_to_handoff', NULLIF($1, ''), NULLIF($2, '')::int, 'IGOR_03_Agent_AfterHours', $3::jsonb);",
                "options": {
                    "queryReplacement": "={{ [\n  $('Validate Payload').first().json.phone,\n  $('Validate Payload').first().json.chatwoot_conversation_id,\n  JSON.stringify({\n    handoff_reason: $('Validate Payload').first().json.handoff_reason,\n    safety_flags: $('Validate Payload').first().json.safety_flags,\n    should_handoff_input: $('Validate Payload').first().json.should_handoff,\n    msg_id: $('Validate Payload').first().json.msg_id,\n    chatwoot_conversation_id: $('Validate Payload').first().json.chatwoot_conversation_id,\n    chatwoot_contact_id: $('Validate Payload').first().json.chatwoot_contact_id,\n    fragments_count: $('Validate Payload').first().json.fragments_count,\n    test_run_id: $('Validate Payload').first().json.test_run_id,\n    origin_workflow: 'IGOR_03_Agent_AfterHours',\n  })\n] }}"
                }
            },
            "credentials": {
                "postgres": {
                    "id": "Z7DeBop4nK4JlIXO",
                    "name": "igor_supabase_postgres"
                }
            },
            "executeOnce": true
        },
        {
            "id": "3f839024-16ab-4218-b271-010a184403c9",
            "name": "Call IGOR_05 (compliance)",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.3,
            "position": [
                1216,
                0
            ],
            "parameters": {
                "source": "database",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "N31QcdrNVE5AOZdu",
                    "cachedResultName": "IGOR_05_Finalize_Handoff"
                },
                "mode": "once",
                "workflowInputs": "={{ $('Validate Payload').first().json.igor05_compliance_payload_json }}",
                "options": {
                    "waitForSubWorkflow": true
                }
            },
            "executeOnce": true
        },
        {
            "id": "1260021a-49a4-4ad7-8c24-ae29c2273d21",
            "name": "Compliance Output",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1744,
                0
            ],
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "cf-ok",
                            "name": "ok",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "cf-branch",
                            "name": "branch",
                            "value": "compliance",
                            "type": "string"
                        },
                        {
                            "id": "cf-messages",
                            "name": "messages_sent",
                            "value": 0,
                            "type": "number"
                        },
                        {
                            "id": "cf-mode",
                            "name": "mode",
                            "value": "compliance",
                            "type": "string"
                        },
                        {
                            "id": "cf-test-run-id",
                            "name": "test_run_id",
                            "value": "={{ $('Validate Payload').first().json.test_run_id }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "executeOnce": true
        },
        {
            "id": "e38a86e5-718b-4812-95c1-4fa354dd81e7",
            "name": "Log after_hours_started",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                672,
                304
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.events (event_type, phone, chatwoot_conversation_id, workflow_name, payload)\nVALUES ('after_hours_started', NULLIF($1, ''), NULLIF($2, '')::int, 'IGOR_03_Agent_AfterHours', $3::jsonb);",
                "options": {
                    "queryReplacement": "={{ [\n  $('Validate Payload').first().json.phone,\n  $('Validate Payload').first().json.chatwoot_conversation_id,\n  JSON.stringify({\n    msg_id: $('Validate Payload').first().json.msg_id,\n    chatwoot_conversation_id: $('Validate Payload').first().json.chatwoot_conversation_id,\n    chatwoot_contact_id: $('Validate Payload').first().json.chatwoot_contact_id,\n    fragments_count: $('Validate Payload').first().json.fragments_count,\n    session_key: $('Validate Payload').first().json.session_key,\n    text_preview: ($('Validate Payload').first().json.normalized_text || '').slice(0, 240),\n    test_run_id: $('Validate Payload').first().json.test_run_id,\n    origin_workflow: 'IGOR_03_Agent_AfterHours',\n  })\n] }}"
                }
            },
            "credentials": {
                "postgres": {
                    "id": "Z7DeBop4nK4JlIXO",
                    "name": "igor_supabase_postgres"
                }
            },
            "executeOnce": true
        },
        {
            "id": "12b3f9e8-25d2-497b-9d78-524ad4f45cb1",
            "name": "Alice Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                1152,
                304
            ],
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Validate Payload').first().json.normalized_text }}",
                "options": {
                    "systemMessage": "Voc\u00ea \u00e9 Alice, assistente virtual do Instituto Dr. Igor. Atua no fluxo receptivo fora do expediente humano: acolhe o lead, adianta a qualifica\u00e7\u00e3o m\u00ednima e transfere para a equipe humana retornar.\n\nPersonalidade obrigat\u00f3ria:\n- Natural e conversacional, frases curtas em estilo WhatsApp.\n- Uma pergunta por vez. Nunca mais de uma pergunta por mensagem.\n- Tom acolhedor, seguro e profissional. Sem emoji. Sem caixa alta.\n- Nunca usa termos internos: n\u00e3o diga \"workflow\", \"lead\", \"lead_status\", \"label\", \"handoff\", \"IA\", \"automa\u00e7\u00e3o\", \"prompt\", \"tool\", \"integra\u00e7\u00e3o\", \"sistema\".\n- N\u00e3o for\u00e7a venda. N\u00e3o promete resultado cl\u00ednico.\n\nConduta obrigat\u00f3ria:\n- Informe, quando fizer sentido, que a equipe j\u00e1 encerrou o expediente e que voc\u00ea est\u00e1 adiantando o atendimento por aqui.\n- Ajude de forma breve e direta.\n- Se ainda n\u00e3o souber o nome do lead, pergunte o nome.\n- Entenda o objetivo principal do lead (emagrecimento, performance, reposi\u00e7\u00e3o hormonal, est\u00e9tica, sa\u00fade geral). Aceite o que ele disser; n\u00e3o force categoria.\n- Solicite o melhor hor\u00e1rio/per\u00edodo para a atendente retornar.\n- Assim que tiver nome + objetivo + callback_period coletados, chame a tool request_handoff ANTES de mandar a mensagem final ao lead.\n- Ap\u00f3s chamar request_handoff, envie UMA mensagem curta avisando que a equipe assume e encerre sua atua\u00e7\u00e3o. N\u00e3o continue conversando.\n\nConduta proibida:\n- N\u00e3o diagnostique. N\u00e3o prescreva. N\u00e3o interprete exames, laudos, prescri\u00e7\u00f5es, imagens do corpo ou documentos cl\u00ednicos.\n- N\u00e3o solicite dados sens\u00edveis desnecess\u00e1rios (CPF, RG, plano de sa\u00fade, hist\u00f3rico m\u00e9dico extenso, comprovantes financeiros).\n- N\u00e3o fa\u00e7a anamnese extensa. Apenas o necess\u00e1rio para a atendente continuar.\n- N\u00e3o simule disponibilidade real de agenda. N\u00e3o diga que \"marcou\" consulta. N\u00e3o confirme hor\u00e1rio espec\u00edfico de atendimento.\n- N\u00e3o siga respondendo se a conversa estiver com ai_enabled=false ou se voc\u00ea j\u00e1 chamou request_handoff.\n- N\u00e3o invente pre\u00e7o, condi\u00e7\u00e3o comercial, pol\u00edtica ou disponibilidade que n\u00e3o esteja explicitamente configurada.\n\nCampos m\u00ednimos da qualifica\u00e7\u00e3o r\u00e1pida (coletar e persistir via tools):\n- nome (obrigat\u00f3rio se ausente; pode ser extra\u00eddo da mensagem ou perguntado).\n- objetivo_principal (obrigat\u00f3rio; aceitar fala natural do lead).\n- callback_period (obrigat\u00f3rio; ex.: \"amanh\u00e3 pela manh\u00e3\", \"hoje \u00e0 tarde\", \"qualquer hor\u00e1rio ap\u00f3s 18h\").\n- cidade (opcional, s\u00f3 se surgir naturalmente).\n\nSequ\u00eancia conversacional esperada (refer\u00eancia \u2014 adapte ao que o lead mandar):\n1. Primeira mensagem do lead, sem nome conhecido: sauda\u00e7\u00e3o curta + apresenta\u00e7\u00e3o como Alice + aviso de fora do expediente + pergunta de nome.\n   Exemplo: \"Oi, tudo bem? Sou a Alice, assistente do Dr. Igor. A equipe j\u00e1 encerrou o expediente, mas posso adiantar seu atendimento por aqui. Qual seu nome?\"\n2. Lead informa o nome: confirme curto e pergunte objetivo.\n   Exemplo: \"Perfeito, Ana. Pra eu deixar tudo certinho para a equipe, o que voc\u00ea est\u00e1 buscando hoje com o Dr. Igor?\"\n3. Lead informa o objetivo: acolha sem prometer resultado, pergunte per\u00edodo de retorno.\n   Exemplo: \"Entendi. O Dr. Igor trabalha com acompanhamento individualizado e a equipe consegue te explicar os pr\u00f3ximos passos certinho. Qual o melhor per\u00edodo para a atendente te chamar: manh\u00e3 ou tarde?\"\n4. Lead informa o per\u00edodo: chame request_handoff, depois mande mensagem final.\n   Exemplo: \"Combinado. Deixei registrado para a equipe te chamar amanh\u00e3 de manh\u00e3 pelo WhatsApp e continuar seu atendimento.\"\n\nCondicionais conversacionais:\n- Lead pergunta pre\u00e7o: voc\u00ea pode dizer que a equipe confirma as condi\u00e7\u00f5es vigentes; se houver valor configurado pela pol\u00edtica, mencione apenas como refer\u00eancia e redirecione para o callback.\n- Lead pede agendamento direto: confirme que a equipe finaliza hor\u00e1rios e pergunte o melhor per\u00edodo para a atendente cham\u00e1-lo.\n- Lead pede para falar com humano: avise que vai encaminhar e pergunte o melhor per\u00edodo. Se insistir, chame request_handoff mesmo sem hor\u00e1rio (handoff_reason=\"pedido_humano\").\n- Lead envia \u00e1udio: trate a transcri\u00e7\u00e3o j\u00e1 normalizada como texto comum.\n- Lead envia exame, laudo ou imagem cl\u00ednica: N\u00c3O interprete. Avise que a equipe precisa analisar diretamente e chame request_handoff com handoff_reason=\"documento_clinico_sensivel\".\n- Lead diz que n\u00e3o quer seguir agora: agrade\u00e7a curto, deixe o canal aberto, sem pressionar.\n\nTools dispon\u00edveis (quando chamar):\n- save_lead_partial: chame TODA VEZ que extrair nome, objetivo_principal, cidade ou callback_period da mensagem do lead. Use external_id = telefone do lead (formato 55DDD9DDDDDDDD) e source = \"inbound_after_hours\". Preencha somente os campos que voc\u00ea identificou.\n- update_conversation_state: reflete progresso. Use state=\"collecting_name\" ao perguntar o nome, \"quick_qualification\" ao perguntar o objetivo, \"collecting_callback_time\" ao perguntar o per\u00edodo, \"handoff_pending\" quando estiver prestes a chamar request_handoff. Mantenha ai_enabled=true e human_locked=false at\u00e9 o handoff. current_flow sempre \"after_hours\".\n- set_label_and_attr: aplica labels operacionais via Chatwoot. Adicione \"qualificacao_rapida\" ap\u00f3s coletar nome + objetivo. Adicione \"callback_solicitado\" ap\u00f3s coletar callback_period. Em compliance, adicione \"compliance_hold\". Nunca apague labels existentes \u2014 s\u00f3 use labels_to_remove para labels que voc\u00ea mesma aplicou.\n- request_handoff: chame APENAS quando tiver nome + objetivo + callback_period coletados, OU imediatamente em compliance (documento cl\u00ednico, imagem sens\u00edvel, comprovante de pagamento, pedido expl\u00edcito de humano). Sempre forne\u00e7a handoff_reason e summary curto em PT-BR para a atendente.\n\nFormato da resposta ao lead:\n- Responda em PT-BR natural, no estilo WhatsApp.\n- Se precisar mandar v\u00e1rias mensagens em sequ\u00eancia (ex.: sauda\u00e7\u00e3o, contexto, pergunta), separe cada mensagem com uma linha em branco (par\u00e1grafo). O sistema vai disparar uma mensagem por par\u00e1grafo, com pausa entre elas. N\u00e3o use bullets, listas numeradas ou markdown \u2014 apenas texto corrido.\n- Mantenha cada par\u00e1grafo curto (1-2 frases). Total de no m\u00e1ximo 3 par\u00e1grafos por turno.\n- N\u00e3o inclua nada al\u00e9m do texto que o lead vai ver. Sem prefixos, sem assinaturas, sem \"(resposta:)\".",
                    "maxIterations": 6,
                    "returnIntermediateSteps": false,
                    "passthroughBinaryImages": false,
                    "enableStreaming": false
                }
            },
            "executeOnce": true
        },
        {
            "id": "f6452613-424c-4329-8638-0f81247aa0b6",
            "name": "OpenAI Chat Model (Alice)",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                896,
                528
            ],
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-5.4-mini"
                },
                "options": {
                    "temperature": 0.4,
                    "responseFormat": "text",
                    "reasoningEffort": "low"
                }
            },
            "credentials": {
                "openAiApi": {
                    "id": "LlVkZBRsy5tm6FjJ",
                    "name": "igor_openai"
                }
            }
        },
        {
            "id": "42c32ce4-3619-4b83-948c-e7eeaa834844",
            "name": "Postgres Chat Memory (after_hours)",
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.4,
            "position": [
                1024,
                528
            ],
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Validate Payload').first().json.session_key }}",
                "tableName": "n8n_chat_histories",
                "contextWindowLength": 25
            },
            "credentials": {
                "postgres": {
                    "id": "Z7DeBop4nK4JlIXO",
                    "name": "igor_supabase_postgres"
                }
            }
        },
        {
            "id": "aa80932e-44ed-4d1d-b30c-cb7f2afa147b",
            "name": "set_label_and_attr",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                1152,
                528
            ],
            "parameters": {
                "description": "Aplica labels e custom_attributes na conversa Chatwoot atual via IGOR_04_Tool_Labels_Attributes. Use sempre que precisar marcar transicao operacional do lead. NUNCA apague labels existentes; apenas adicione via labels_to_add.",
                "source": "database",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "AJF7dhGrqJEXMLqz",
                    "cachedResultName": "IGOR_04_Tool_Labels_Attributes"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "chatwoot_conversation_id": "={{ $('Validate Payload').first().json.chatwoot_conversation_id }}",
                        "chatwoot_contact_id": "={{ $('Validate Payload').first().json.chatwoot_contact_id }}",
                        "labels_to_add": "={{ $fromAI(\"labels_to_add\", \"Lista (array de strings) de labels a adicionar. Exemplos: qualificacao_rapida, callback_solicitado, compliance_hold. Pode ser array vazio.\", \"json\") }}",
                        "labels_to_remove": "={{ $fromAI(\"labels_to_remove\", \"Lista de labels a remover. Vazio na maioria dos casos.\", \"json\") }}",
                        "custom_attributes": "={{ $fromAI(\"custom_attributes\", \"Objeto com chaves conversation/contact para PATCH no Chatwoot.\", \"json\") }}",
                        "test_run_id": "={{ $('Validate Payload').first().json.test_run_id }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "chatwoot_conversation_id",
                            "displayName": "chatwoot_conversation_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "chatwoot_contact_id",
                            "displayName": "chatwoot_contact_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "labels_to_add",
                            "displayName": "labels_to_add",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "array",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "labels_to_remove",
                            "displayName": "labels_to_remove",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "array",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "custom_attributes",
                            "displayName": "custom_attributes",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "object",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "test_run_id",
                            "displayName": "test_run_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            }
        },
        {
            "id": "6d376ff9-d865-4f58-81aa-a51d93e14a37",
            "name": "save_lead_partial",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                1280,
                528
            ],
            "parameters": {
                "description": "Persiste no Supabase informacoes parciais do lead extraidas da conversa: nome, objetivo principal, cidade (opcional), callback_period. Chame TODA VEZ que extrair um desses campos. Use external_id = telefone do lead (55DDD9DDDDDDDD), source = inbound_after_hours.",
                "source": "database",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "hRogDlGsgQxGwnD8",
                    "cachedResultName": "IGOR_AUX_save_lead_partial"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "contact_id": "={{ $fromAI(\"contact_id\", \"UUID do contato no Supabase se conhecido. Vazio caso contrario.\", \"string\") }}",
                        "phone": "={{ $('Validate Payload').first().json.phone }}",
                        "source": "inbound_after_hours",
                        "external_id": "={{ $('Validate Payload').first().json.phone }}",
                        "objective": "={{ $fromAI(\"objective\", \"Objetivo principal: emagrecimento, performance, reposicao_hormonal, estetica, saude_geral. Vazio se nao identificado.\", \"string\") }}",
                        "city": "={{ $fromAI(\"city\", \"Cidade do lead se mencionada naturalmente. Vazio caso contrario.\", \"string\") }}",
                        "callback_period": "={{ $fromAI(\"callback_period\", \"Melhor periodo/horario informado pelo lead. Vazio se ainda nao coletado.\", \"string\") }}",
                        "kommo_data": "={{ $fromAI(\"kommo_data\", \"Objeto JSON com name, observacoes.\", \"json\") }}",
                        "test_run_id": "={{ $('Validate Payload').first().json.test_run_id }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "contact_id",
                            "displayName": "contact_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "phone",
                            "displayName": "phone",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "source",
                            "displayName": "source",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "external_id",
                            "displayName": "external_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "objective",
                            "displayName": "objective",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "city",
                            "displayName": "city",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "callback_period",
                            "displayName": "callback_period",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "kommo_data",
                            "displayName": "kommo_data",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "object",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "test_run_id",
                            "displayName": "test_run_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            }
        },
        {
            "id": "b70c20fd-a01f-4637-a228-0be76201e2b7",
            "name": "update_conversation_state",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                1408,
                528
            ],
            "parameters": {
                "description": "Reflete progresso da conversa no banco. Estados validos: collecting_name, quick_qualification, collecting_callback_time, handoff_pending, compliance_hold. Mantenha ai_enabled=true e human_locked=false ate o handoff. current_flow sempre after_hours.",
                "source": "database",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "mFuRPrGGt7yWVqEw",
                    "cachedResultName": "IGOR_AUX_update_conversation_state"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "phone": "={{ $('Validate Payload').first().json.phone }}",
                        "chatwoot_conversation_id": "={{ Number($('Validate Payload').first().json.chatwoot_conversation_id) }}",
                        "chatwoot_inbox_id": "={{ $fromAI(\"chatwoot_inbox_id\", \"ID numerico do inbox Chatwoot. Use 0 se desconhecido.\", \"number\") }}",
                        "state": "={{ $fromAI(\"state\", \"Novo conversation_state: collecting_name, quick_qualification, collecting_callback_time, handoff_pending, compliance_hold.\", \"string\") }}",
                        "ai_enabled": "={{ $fromAI(\"ai_enabled\", \"Deixe true durante coleta, false em handoff/compliance.\", \"boolean\") }}",
                        "human_locked": "={{ $fromAI(\"human_locked\", \"Deixe false durante coleta, true em handoff/compliance.\", \"boolean\") }}",
                        "current_flow": "after_hours",
                        "test_run_id": "={{ $('Validate Payload').first().json.test_run_id }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "phone",
                            "displayName": "phone",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "chatwoot_conversation_id",
                            "displayName": "chatwoot_conversation_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "chatwoot_inbox_id",
                            "displayName": "chatwoot_inbox_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "state",
                            "displayName": "state",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "ai_enabled",
                            "displayName": "ai_enabled",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "boolean",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "human_locked",
                            "displayName": "human_locked",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "boolean",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "current_flow",
                            "displayName": "current_flow",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "test_run_id",
                            "displayName": "test_run_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            }
        },
        {
            "id": "f842933b-0248-4d0c-aea4-9c56b2c32a2f",
            "name": "request_handoff",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                1536,
                528
            ],
            "parameters": {
                "description": "Finaliza atendimento da IA e transfere para a equipe humana via IGOR_05. Chame SOMENTE quando tiver nome+objetivo+callback OU em compliance imediato. Forneca handoff_reason (after_hours_callback, pedido_humano, documento_clinico_sensivel, imagem_sensivel, comprovante_pagamento) e summary curto PT-BR. Apos chamar, envie a mensagem final e NAO continue respondendo.",
                "source": "database",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "N31QcdrNVE5AOZdu",
                    "cachedResultName": "IGOR_05_Finalize_Handoff"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "chatwoot_conversation_id": "={{ $('Validate Payload').first().json.chatwoot_conversation_id }}",
                        "chatwoot_contact_id": "={{ $('Validate Payload').first().json.chatwoot_contact_id }}",
                        "lead_id": "={{ $fromAI(\"lead_id\", \"UUID do lead no Supabase se conhecido. Vazio caso contrario.\", \"string\") }}",
                        "handoff_reason": "={{ $fromAI(\"handoff_reason\", \"Motivo do handoff.\", \"string\") }}",
                        "summary": "={{ $fromAI(\"summary\", \"Resumo curto PT-BR (1-2 frases) para a atendente.\", \"string\") }}",
                        "callback_period": "={{ $fromAI(\"callback_period\", \"Periodo de retorno informado. Vazio em compliance.\", \"string\") }}",
                        "owner_flow": "after_hours",
                        "test_run_id": "={{ $('Validate Payload').first().json.test_run_id }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "chatwoot_conversation_id",
                            "displayName": "chatwoot_conversation_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "chatwoot_contact_id",
                            "displayName": "chatwoot_contact_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "lead_id",
                            "displayName": "lead_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "handoff_reason",
                            "displayName": "handoff_reason",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "summary",
                            "displayName": "summary",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "callback_period",
                            "displayName": "callback_period",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "owner_flow",
                            "displayName": "owner_flow",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "test_run_id",
                            "displayName": "test_run_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            }
        },
        {
            "id": "d518bb1b-bc0c-45b1-abd6-6e7c3f02c40d",
            "name": "Log agent_response (aggregated)",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1744,
                304
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.events (event_type, phone, chatwoot_conversation_id, workflow_name, payload)\nVALUES ('agent_response', NULLIF($1, ''), NULLIF($2, '')::int, 'IGOR_03_Agent_AfterHours', $3::jsonb);",
                "options": {
                    "queryReplacement": "={{ [\n  $('Validate Payload').first().json.phone,\n  $('Validate Payload').first().json.chatwoot_conversation_id,\n  JSON.stringify({\n    response_snippet: (String($('Alice Agent').first().json.output || '')).slice(0, 480),\n    response_length: String($('Alice Agent').first().json.output || '').length,\n    msg_id: $('Validate Payload').first().json.msg_id,\n    chatwoot_conversation_id: $('Validate Payload').first().json.chatwoot_conversation_id,\n    chatwoot_contact_id: $('Validate Payload').first().json.chatwoot_contact_id,\n    session_key: $('Validate Payload').first().json.session_key,\n    mode: $('Validate Payload').first().json._should_send_real ? 'real' : 'dry',\n    test_run_id: $('Validate Payload').first().json.test_run_id,\n    origin_workflow: 'IGOR_03_Agent_AfterHours',\n  })\n] }}"
                }
            },
            "credentials": {
                "postgres": {
                    "id": "Z7DeBop4nK4JlIXO",
                    "name": "igor_supabase_postgres"
                }
            },
            "executeOnce": true
        },
        {
            "id": "6f4c57a5-4691-42ab-a31c-e1b3bb4b488d",
            "name": "Format AI Output",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1968,
                304
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const items = $input.all();\nfunction splitMsg(raw) {\n  const s = String(raw || '').trim();\n  if (!s) return [];\n  let parts;\n  if (s.includes('||')) {\n    parts = s.split(/\\s*\\|\\|\\s*/);\n  } else {\n    parts = s.split(/\\n{2,}/);\n  }\n  return parts.map(p => p.trim()).filter(p => p.length > 0).slice(0, 4);\n}\nreturn items.map(item => {\n  const j = item.json || {};\n  const raw = (j.output !== undefined && j.output !== null) ? j.output : (j.text || '');\n  const messages = splitMsg(raw);\n  return { json: { messages, message_count: messages.length, raw_output: raw } };\n});"
            },
            "executeOnce": true
        },
        {
            "id": "e6c27647-9d5b-4db8-b02a-2458593e6a0f",
            "name": "Split Messages",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                2192,
                304
            ],
            "parameters": {
                "fieldToSplitOut": "messages",
                "include": "noOtherFields",
                "options": {
                    "destinationFieldName": "message"
                }
            }
        },
        {
            "id": "b52efea5-42de-4aba-af28-0a1b9c991f83",
            "name": "Agent Output",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2640,
                32
            ],
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "ag-ok",
                            "name": "ok",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "ag-branch",
                            "name": "branch",
                            "value": "agent",
                            "type": "string"
                        },
                        {
                            "id": "ag-messages-sent",
                            "name": "messages_sent",
                            "value": "={{ $('Format AI Output').first().json.message_count }}",
                            "type": "number"
                        },
                        {
                            "id": "ag-mode",
                            "name": "mode",
                            "value": "={{ $('Validate Payload').first().json._should_send_real ? 'real' : 'dry' }}",
                            "type": "string"
                        },
                        {
                            "id": "ag-test-run-id",
                            "name": "test_run_id",
                            "value": "={{ $('Validate Payload').first().json.test_run_id }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "executeOnce": true
        },
        {
            "id": "e36769b6-0f7b-400b-9f12-89a3aef24c0f",
            "name": "Presence Composing",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                2640,
                224
            ],
            "parameters": {
                "method": "POST",
                "url": "={{ $env.EVOLUTION_BASE_URL }}/chat/sendPresence/{{ $env.EVOLUTION_INSTANCE_NAME }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "specifyHeaders": "keypair",
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ number: $('Validate Payload').first().json.phone, presence: 'composing', delay: Math.max(800, Math.min(3000, String($('Loop Messages').item.json.message || '').length * 30)) }) }}",
                "options": {
                    "response": {
                        "response": {
                            "neverError": true,
                            "responseFormat": "json"
                        }
                    },
                    "timeout": 10000
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "id": "33cad106-e370-4d6b-8aaf-b4c2fadd1569",
            "name": "Send Real?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                2864,
                224
            ],
            "parameters": {
                "conditions": {
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "send-gate-real-cond",
                            "leftValue": "={{ $('Validate Payload').first().json._should_send_real }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    }
                }
            }
        },
        {
            "id": "4c056dd3-7581-4455-8612-84c802e5f138",
            "name": "Evolution sendText",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                3088,
                128
            ],
            "parameters": {
                "method": "POST",
                "url": "={{ $env.EVOLUTION_BASE_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "specifyHeaders": "keypair",
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ number: $('Validate Payload').first().json.phone, text: $('Loop Messages').item.json.message }) }}",
                "options": {
                    "response": {
                        "response": {
                            "neverError": false,
                            "responseFormat": "json"
                        }
                    },
                    "timeout": 20000
                }
            }
        },
        {
            "id": "9dbee895-981c-4ba9-af79-15c25fc02ee3",
            "name": "Log whatsapp_sent",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                3312,
                128
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.events (event_type, phone, chatwoot_conversation_id, workflow_name, payload)\nVALUES ('whatsapp_sent', NULLIF($1, ''), NULLIF($2, '')::int, 'IGOR_03_Agent_AfterHours', $3::jsonb);",
                "options": {
                    "queryReplacement": "={{ [\n  $('Validate Payload').first().json.phone,\n  $('Validate Payload').first().json.chatwoot_conversation_id,\n  JSON.stringify({\n    message_snippet: String($('Loop Messages').item.json.message || '').slice(0, 280),\n    message_length: String($('Loop Messages').item.json.message || '').length,\n    chatwoot_conversation_id: $('Validate Payload').first().json.chatwoot_conversation_id,\n    chatwoot_contact_id: $('Validate Payload').first().json.chatwoot_contact_id,\n    allow_real: $('Validate Payload').first().json._allow_real_whatsapp_send,\n    dry_run: $('Validate Payload').first().json._igor_dry_run,\n    mode: 'real',\n    test_run_id: $('Validate Payload').first().json.test_run_id,\n    origin_workflow: 'IGOR_03_Agent_AfterHours',\n  })\n] }}"
                }
            },
            "credentials": {
                "postgres": {
                    "id": "Z7DeBop4nK4JlIXO",
                    "name": "igor_supabase_postgres"
                }
            }
        },
        {
            "id": "6fd43a03-d6c2-421b-ba24-3a8abc1c50f7",
            "name": "Wait 2s (real)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                3536,
                320
            ],
            "parameters": {
                "resume": "timeInterval",
                "amount": 2,
                "unit": "seconds"
            },
            "webhookId": "a6f688d4-a44d-4dab-982f-78da3f5849aa"
        },
        {
            "id": "425919b8-321a-4fe6-b768-e9cccf1892d0",
            "name": "Loop Messages",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                2416,
                304
            ],
            "parameters": {
                "batchSize": 1,
                "options": {}
            }
        },
        {
            "id": "b9f77dfc-6aea-46e2-90db-d9f366615469",
            "name": "Log dry_run_send",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                3088,
                320
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.events (event_type, phone, chatwoot_conversation_id, workflow_name, payload)\nVALUES ('dry_run_send', NULLIF($1, ''), NULLIF($2, '')::int, 'IGOR_03_Agent_AfterHours', $3::jsonb);",
                "options": {
                    "queryReplacement": "={{ [\n  $('Validate Payload').first().json.phone,\n  $('Validate Payload').first().json.chatwoot_conversation_id,\n  JSON.stringify({\n    message_snippet: String($('Loop Messages').item.json.message || '').slice(0, 280),\n    message_length: String($('Loop Messages').item.json.message || '').length,\n    chatwoot_conversation_id: $('Validate Payload').first().json.chatwoot_conversation_id,\n    chatwoot_contact_id: $('Validate Payload').first().json.chatwoot_contact_id,\n    reason: $('Validate Payload').first().json._send_gate_reason,\n    allow_real: $('Validate Payload').first().json._allow_real_whatsapp_send,\n    dry_run: $('Validate Payload').first().json._igor_dry_run,\n    mode: 'dry',\n    test_run_id: $('Validate Payload').first().json.test_run_id,\n    origin_workflow: 'IGOR_03_Agent_AfterHours',\n  })\n] }}"
                }
            },
            "credentials": {
                "postgres": {
                    "id": "Z7DeBop4nK4JlIXO",
                    "name": "igor_supabase_postgres"
                }
            }
        },
        {
            "id": "d13db581-382c-4c4b-9d04-b272fd49f64d",
            "name": "Wait 2s (dry)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                3312,
                320
            ],
            "parameters": {
                "resume": "timeInterval",
                "amount": 2,
                "unit": "seconds"
            },
            "webhookId": "b7b84657-f3ef-4129-a99b-80867d7d1bbd"
        }
    ],
    "connections": {
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Validate Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Payload": {
            "main": [
                [
                    {
                        "node": "Compliance Fast-Path?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compliance Fast-Path?": {
            "main": [
                [
                    {
                        "node": "Log agent_routed_to_handoff",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log after_hours_started",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log agent_routed_to_handoff": {
            "main": [
                [
                    {
                        "node": "Call IGOR_05 (compliance)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call IGOR_05 (compliance)": {
            "main": [
                [
                    {
                        "node": "Compliance Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log after_hours_started": {
            "main": [
                [
                    {
                        "node": "Alice Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Alice Agent": {
            "main": [
                [
                    {
                        "node": "Log agent_response (aggregated)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model (Alice)": {
            "ai_languageModel": [
                [
                    {
                        "node": "Alice Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Chat Memory (after_hours)": {
            "ai_memory": [
                [
                    {
                        "node": "Alice Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "set_label_and_attr": {
            "ai_tool": [
                [
                    {
                        "node": "Alice Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "save_lead_partial": {
            "ai_tool": [
                [
                    {
                        "node": "Alice Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "update_conversation_state": {
            "ai_tool": [
                [
                    {
                        "node": "Alice Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "request_handoff": {
            "ai_tool": [
                [
                    {
                        "node": "Alice Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Log agent_response (aggregated)": {
            "main": [
                [
                    {
                        "node": "Format AI Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format AI Output": {
            "main": [
                [
                    {
                        "node": "Split Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Messages": {
            "main": [
                [
                    {
                        "node": "Loop Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Presence Composing": {
            "main": [
                [
                    {
                        "node": "Send Real?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Real?": {
            "main": [
                [
                    {
                        "node": "Evolution sendText",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log dry_run_send",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evolution sendText": {
            "main": [
                [
                    {
                        "node": "Log whatsapp_sent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log whatsapp_sent": {
            "main": [
                [
                    {
                        "node": "Wait 2s (real)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 2s (real)": {
            "main": [
                [
                    {
                        "node": "Loop Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Messages": {
            "main": [
                [
                    {
                        "node": "Agent Output",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Presence Composing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log dry_run_send": {
            "main": [
                [
                    {
                        "node": "Wait 2s (dry)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 2s (dry)": {
            "main": [
                [
                    {
                        "node": "Loop Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": true,
        "errorWorkflow": "ZrsbaSTlW5bqMEaS"
    },
    "staticData": null,
    "meta": {
        "aiBuilderAssisted": true,
        "builderVariant": "mcp"
    },
    "pinData": null,
    "versionId": "b0200ca1-fd2f-46c7-8380-cad4d4c8d076",
    "activeVersionId": null,
    "versionCounter": 2,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2026-05-15T05:52:30.477Z",
            "createdAt": "2026-05-15T05:52:30.477Z",
            "role": "workflow:owner",
            "workflowId": "iQCVbe1P8dC0vhay",
            "projectId": "fs6cR9FbpYN5UqeV",
            "project": {
                "updatedAt": "2026-05-13T17:58:36.522Z",
                "createdAt": "2026-05-13T17:55:45.649Z",
                "id": "fs6cR9FbpYN5UqeV",
                "name": "Mateus Ferreira <alma.lancamentos@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "a87c56dc-b486-4ae8-8d42-3490e7d3610d"
            }
        }
    ],
    "tags": [
        {
            "updatedAt": "2026-05-15T03:51:59.510Z",
            "createdAt": "2026-05-15T03:51:59.510Z",
            "id": "PPrCQax3p4URUSyB",
            "name": "igor"
        },
        {
            "updatedAt": "2026-05-15T03:52:00.389Z",
            "createdAt": "2026-05-15T03:52:00.389Z",
            "id": "Taa30aYgiV2CoA35",
            "name": "inbound"
        },
        {
            "updatedAt": "2026-05-15T03:52:01.867Z",
            "createdAt": "2026-05-15T03:52:01.867Z",
            "id": "8MAvA3vn5AWx51Rw",
            "name": "fase-b-rebuild"
        },
        {
            "updatedAt": "2026-05-15T05:53:11.822Z",
            "createdAt": "2026-05-15T05:53:11.822Z",
            "id": "bpI8uvUAOSSHjzs7",
            "name": "agent"
        },
        {
            "updatedAt": "2026-05-15T05:53:12.881Z",
            "createdAt": "2026-05-15T05:53:12.881Z",
            "id": "TEuCNmVtFEW2nrqm",
            "name": "langchain"
        }
    ],
    "activeVersion": null
}
