n8n/workflows/IGOR_04_Tool_Labels_Attributes.json
{
  "name": "IGOR_04_Tool_Labels_Attributes",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {"name": "chatwoot_conversation_id"},
            {"name": "chatwoot_contact_id"},
            {"name": "labels_to_add"},
            {"name": "labels_to_remove"},
            {"name": "custom_attributes"},
            {"name": "test_run_id"},
            {"name": "_skip_chatwoot_calls"}
          ]
        }
      },
      "id": "execute-trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const j = item.json || {};\n  return {\n    json: {\n      chatwoot_conversation_id: j.chatwoot_conversation_id,\n      chatwoot_contact_id: j.chatwoot_contact_id || null,\n      labels_to_add: Array.isArray(j.labels_to_add) ? j.labels_to_add : [],\n      labels_to_remove: Array.isArray(j.labels_to_remove) ? j.labels_to_remove : [],\n      custom_attributes: j.custom_attributes || { conversation: {}, contact: {} },\n      test_run_id: j.test_run_id || null,\n      _skip_chatwoot_calls: j._skip_chatwoot_calls === true\n    }\n  };\n});"
      },
      "id": "validate-payload-node",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "skip-condition",
              "leftValue": "={{ $json._skip_chatwoot_calls }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-skip-node",
      "name": "IF Skip Chatwoot",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const validated = $('Validate Payload').first().json;\nreturn [{\n  json: {\n    ...validated,\n    labels_current: [],\n    labels_final: validated.labels_to_add\n  }\n}];"
      },
      "id": "compute-merged-skip-node",
      "name": "Compute Merged Labels (Skip)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -160]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://chat.almaconvert.com.br/api/v1/accounts/2/conversations/{{ $json.chatwoot_conversation_id }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "chatwoot-get-labels-node",
      "name": "Chatwoot Get Labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 160],
      "credentials": {
        "httpHeaderAuth": {
          "name": "igor_chatwoot_api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const validated = $('Validate Payload').first().json;\nconst fetched = $input.first().json || {};\nconst current = Array.isArray(fetched.payload)\n  ? fetched.payload.map(l => (typeof l === 'string' ? l : (l && l.title) || ''))\n      .filter(Boolean)\n  : [];\nconst toAdd = validated.labels_to_add;\nconst toRemove = validated.labels_to_remove;\nconst merged = Array.from(new Set([...current, ...toAdd]))\n  .filter(l => !toRemove.includes(l));\nreturn [{\n  json: {\n    ...validated,\n    labels_current: current,\n    labels_final: merged\n  }\n}];"
      },
      "id": "compute-merged-node",
      "name": "Compute Merged Labels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.almaconvert.com.br/api/v1/accounts/2/conversations/{{ $json.chatwoot_conversation_id }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ labels: $json.labels_final }) }}",
        "options": {}
      },
      "id": "chatwoot-set-labels-node",
      "name": "Chatwoot Set Labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 160],
      "credentials": {
        "httpHeaderAuth": {
          "name": "igor_chatwoot_api"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.events (event_type, workflow_name, payload)\nVALUES ('label_added', 'IGOR_04_Tool_Labels_Attributes', $1::jsonb);",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ chatwoot_conversation_id: $json.chatwoot_conversation_id, added: $json.labels_to_add, removed: $json.labels_to_remove, test_run_id: $json.test_run_id }) }}"
        }
      },
      "id": "log-event-node",
      "name": "Log Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1320, 0],
      "credentials": {
        "postgres": {
          "name": "igor_supabase_postgres"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-flag",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "labels-final-out",
              "name": "labels_final",
              "value": "={{ $json.labels_final }}",
              "type": "array"
            },
            {
              "id": "test-run-id-out",
              "name": "test_run_id",
              "value": "={{ $json.test_run_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "respond-success-node",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "IF Skip Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Skip Chatwoot": {
      "main": [
        [
          {
            "node": "Compute Merged Labels (Skip)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chatwoot Get Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Merged Labels (Skip)": {
      "main": [
        [
          {
            "node": "Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Get Labels": {
      "main": [
        [
          {
            "node": "Compute Merged Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Merged Labels": {
      "main": [
        [
          {
            "node": "Chatwoot Set Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Set Labels": {
      "main": [
        [
          {
            "node": "Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Event": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ZrsbaSTlW5bqMEaS"
  }
}
